- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Вызов электрика"
- attributes("keywords") = "вызов электрика, вызвать электрика, срочный вызов электрика, вызов электрика петербургу, электрик услуги, вызвать электрика, электрик вызов"
- attributes("description") = "Вызов электрика. Как вызвать электрика. Расценки."
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.call_electrician
            li.active
                h1 Вызов электрика
            li
                a(href='/') Главная
        .lead Не рискуйте своим здоровьем и имуществом! Вызывайте компетентного электрика чаще, ведь каждый шестой вызов - в подарок.
.container
    ul#myTab.nav.nav-tabs
        li.ico-tab.prices
            a(href='#tab1') Стоимость
        li.active.ico-tab.information
            a(href='#tab2') Зачем вызывать электрика
    .tab-content.mytab-tab-content
        #tab1.tab-pane
            p
                |Стоимость работ при вызове электрика расчитывается как сумма расценок на отдельные виды работ, приведенных на странице&nbsp;
                a(href='/services/electrical-works') "Электромонтажные работы"
                |. Перед тем как делать заказ, вы можете узнать ориентировочную стоимость работ, заполнив поля в колонке "Объем" таблицы цен. Все цены являются актуальными. Использование калькулятора стоимости не обязывает вас делать заказ всех выбранных позиций.
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы вызвать электрика, введите номер телефона:", "additionalData" -> ad.CallElectrician))
        #tab2.tab-pane.active
            h2 Зачем вызывать электрика
            img.pull-right(src='/photos/services/electrician.jpg' alt='Так выглядит наш электрик со спины' title='Так выглядит наш электрик со спины')
            p Существует множество проблем, с которыми нам приходится сталкиваться практически каждый день:
            ul
                li Пропало электричество
                li Искрят розетки и выключатели
                li Перегорели лампы или испортились светильники
                li Нужно проложить телевизионный, телефонный и сетевой кабель
                li Требуется отремонтировать электропроводку
                li Нужно починить или установить электрический щиток
                li Нужно повесить полочки и крепления под бытовую технику
                li Вы хотите подключить новую стиральную машину или электрическую плиту
            p Эти и многие другие проблемы поможет решить услуга "Вызов электрика".
            h2 Как вызвать электрика
            p Для того, чтобы вызвать электрика:
            ol
                li<
                    |Вы оставляете заказ на работы одним из&nbsp;
                    a(href='/contact') способов
                    |.
                li Мастер связывается с вами и договаривается об удобном для вас времени. В большинстве случаев, мастер готов приехать к вам в день заказа или на следующий день.
                li В назначенное время мастер приезжает по указанному вами адресу и начинает устранять все имеющиеся у вас проблемы.
                li<
                    |По окончании работ вы оплачиваете мастеру стоимость услуг по расценкам, приведенным на странице&nbsp;
                    a(href='/services/electrical-works') "Электромонтажные работы"
                    |. Если вы живете в удалении от Санкт-Петербурга, то к стоимости дополнительно прибавляются расходы на дорогу. Стоимость минимального заказа при вызове электрика приведена на вкладке "Стоимость".
            h2 Районы города и области
            p Наша компания работает во всех районах Санкт-Петербурга и пригородных районах Ленинградской области:
            h3 Районы Санкт-Петербурга
            ul
                li
                    a(href='/services/call-electrician/spb/admiralteyskiy') Адмиралтейский
                li
                    a(href='/services/call-electrician/spb/vasileostrovskiy') Василеостровский
                li
                    a(href='/services/call-electrician/spb/viborgskiy') Выборгский
                li
                    a(href='/services/call-electrician/spb/kalininskiy') Калининский
                li
                    a(href='/services/call-electrician/spb/kirovskiy') Кировский
                li
                    a(href='/services/call-electrician/spb/kolpinskiy') Колпинский
                li
                    a(href='/services/call-electrician/spb/krasnogvardeyskiy') Красногвардейский
                li
                    a(href='/services/call-electrician/spb/krasnoselskiy') Красносельский
                li
                    a(href='/services/call-electrician/spb/kronshtadtskiy') Кронштадтский
                li
                    a(href='/services/call-electrician/spb/kurortniy') Курортный
                li
                    a(href='/services/call-electrician/spb/moskovskiy') Московский
                li
                    a(href='/services/call-electrician/spb/nevskiy') Невский
                li
                    a(href='/services/call-electrician/spb/petrogradskiy') Петроградский
                li
                    a(href='/services/call-electrician/spb/petrodvortsoviy') Петродворцовый
                li
                    a(href='/services/call-electrician/spb/primorskiy') Приморский
                li
                    a(href='/services/call-electrician/spb/pushkinskiy') Пушкинский
                li
                    a(href='/services/call-electrician/spb/frunzenskiy') Фрунзенский
                li
                    a(href='/services/call-electrician/spb/centralniy') Центральный
            h3 Районы Ленинградской области
            ul
                li
                    a(href='/services/call-electrician/lo/vsevologskiy') Всеволожский
                li
                    a(href='/services/call-electrician/lo/gatchinskiy') Гатчинский
                li
                    a(href='/services/call-electrician/lo/kirovskiy') Кировский
                li
                    a(href='/services/call-electrician/lo/tosnenskiy') Тосненский

            h2 Вызывайте электрика чаще
            p Есть несколько причин, по которым вам следует вызвать электрика именно у нас:
            ol
                li
                    b Опытные электрики.&nbsp;
                    |Электрики, работающие в нашей компании, имеют десять-двадцать лет профессионального стажа работы в области электротехники. У нас нет электриков из стран ближнего зарубежья.
                li
                    b Профессиональный инструмент.&nbsp;
                    |В своей работе мы стараемся использовать проверенный инструмент отечественных и зарубежных производителей. Подробнее о том, какие инструменты входят в арсенал современного электрика вы можете прочитать в статье&nbsp;
                    a(href='/articles/electrical-tools' title='Нажмите, чтобы прочитать статью') "Инструмент электрика"
                    |.
                li
                    b Каждый шестой вызов электрика - бесплатно.&nbsp;
                    |Мы сохраняем статистику заказов по каждому клиенту и каждый шестой вызов электрика будет для вас бесплатным, если его стоимость не превышает 1500 рублей. Если же вы немного превысили эту стоимость, то заплатите разницу между полной стоимостью и 1500 рублями. Например, если окончательная стоимость заказа - 1600 рублей, то вы заплатите всего 100 рублей.
                li
                    b Вызов электрика в нерабочее время.&nbsp;
                    |Вы можете вызвать электрика в праздничные и выходные дни. При этом стоимость работ увеличивается вдвое.
                li
                    b Понятные условия оказания услуг.&nbsp;
                    |Услуга "Вызов электрика" как правило предполагает небольшую стоимость выполнения работ (до 10000 рублей), поэтому, чтобы не подписывать лишних документов, мы оказываем услуги на основании&nbsp;
                    a(href='/doc/oferta.pdf' title='Нажмите, чтобы ознакомиться с договором-офертой') договора-оферты
                    |. Это означает, что наша компания предлагает оказать услуги на условиях, изложенных в этом договоре, и, вызывая электрика, вы соглашаетесь с условиями договора. Пожалуйста внимательно прочтите договор, чтобы избежать возникновения недоразумений.
                li
                    b Мастера легко узнать.&nbsp;
                    |Все мастера работают в костюмах с фирменной символикой как на фотографии справа. Кроме того по завершение работ вместе с актом выполненных работ электрик передаст вам свою визитную карточку.
    br