- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Вызов электрика"
- attributes("keywords") = "вызов электрика, вызвать электрика, срочный вызов электрика, вызов электрика петербургу, электрик услуги, вызвать электрика, электрик вызов"
- attributes("description") = "Вызов электрика. Как вызвать электрика. Расценки."
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.call_electrician
            li.active
                h1 Вызов электрика
            li
                a(href='/') Главная
        .lead Не рискуйте своим здоровьем и имуществом! Вызывайте компетентного электрика чаще, ведь каждый шестой вызов - в подарок.
.container
    ul#myTab.nav.nav-tabs
        li.active.ico-tab.prices
            a(href='#tab1') Стоимость
        li.ico-tab.information
            a(href='#tab2') Что это
    .tab-content.mytab-tab-content
        #tab1.tab-pane.active
            p
                |Стоимость работ при вызове электрика расчитывается как сумма расценок на отдельные виды работ, приведенных на странице&nbsp;
                a(href='/services/electrical-works') "Электромонтажные работы"
                |. Перед тем как делать заказ, вы можете узнать ориентировочную стоимость работ, заполнив поля в колонке "Объем" таблицы цен. Все цены являются актуальными. Использование калькулятора стоимости не обязывает вас делать заказ всех выбранных позиций.
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы вызвать электрика, введите номер телефона:", "additionalData" -> ad.CallElectrician))
        #tab2.tab-pane
            p Существует множество проблем, с которыми нам приходится сталкиваться практически каждый день:
            ul
                li Пропало электричество
                li Искрят розетки и выключатели
                li Перегорели лампы или испортились светильники
                li Нужно проложить телевизионный, телефонный и сетевой кабель
                li Требуется отремонтировать электропроводку
                li Нужно починить электрический щиток
                li Нужно повесить полочки и крепления под бытовую технику
                li Требуется собрать или разобрать мебель (в том числе офисную)
                li Нужно установить дверной замок
            p Это и многое другое может сделать за вас наш мастер на час. Сделать заказ очень просто:
            ol
                li<
                    |Вы оставляете заказ на работы одним из&nbsp;
                    a(href='/contact') способов
                    |.
                li Мастер связывается с вами и договаривается об удобном для вас времени. В большинстве случаев, мастер готов приехать к вам в день заказа или на следующий день.
                li В назначенное время мастер приезжает по указанному вами адресу и начинает устранять все имеющиеся у вас проблемы.
                li По окончании работ вы оплачиваете мастеру стоимость его работ по числу часов, затраченных на решение проблем. Если вы живете в удалении от Санкт-Петербурга, то к стоимости дополнительно прибавляются расходы на дорогу.
    br