- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Электромонтажные работы"
- attributes("keywords") = "электромонтажные работы, монтаж электропроводки, электромонтажник, установка розеток, электрик спб, электрик петербург, электропроводка в квартире"
- attributes("description") = "Электромонтажные работы: сроки и порядок выполнения. Как заказать. Калькулятор стоимости работ. Отправить заявку на выполнение работ."
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico2
            li.active
                h1 Электромонтажные работы
            li
                a(href='/') Главная
        .lead Вы купили квартиру вашей мечты в новом доме? Строите себе загородный дом? Готовите к открытию лучший в мире офис или магазин? Хотите получить быстро и профессионально разведенную проводку, установленные по правилам автоматы, розетки, выключатели? Интересуют другие электромонтажные работы? Тогда этот раздел для вас.
.container
    ul#myTab.nav.nav-tabs
        li.active.ico-nav-tab1
            a(href='#tab1') Стоимость
        li.ico-nav-tab2
            a(href='#tab2') Особенности
        li.ico-nav-tab3
            a(href='#tab3') Как заказать
    .tab-content.mytab-tab-content
        #tab1.tab-pane.active
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы заказать работы, введите номер телефона:", "additionalData" -> ad.ElectricalWorks))
        #tab2.tab-pane
            p<
                |Как правило электромонтажные работы проводятся в два этапа:&nbsp;
                b черновой
                |&nbsp;и&nbsp;
                b чистовой
                |.&nbsp;
                b Черновой этап&nbsp;
                |выполняется до начала отделочных работ, т.е. выравнивания и оштукатуривания стен, их облицовки плиткой, окрашивания или оклейки обоями. На данном этапе вначале выполняется демонтаж старой электропроводки, розеток, выключателей. Затем, если требуется, происходит подготовка стен и пола помещения к прокладке скрытой проводки.  Как известно, электропроводка может быть проложена открытым и закрытым способом. Открытая электропроводка крепится на стену специальным крепежом поверх обоев, краски или плитки и в настоящее время во многих случая считается небезопасной, т.к. при неисправностях возможно возгорание. Закрытая проводка является более безопасной, т.к. укладывается в специальные каналы, вырезанные в стене и заделывается наглухо специальным гипсовым раствором. При прокладке скрытой проводки на черновом этапе работ производится&nbsp;
                b штробление&nbsp;
                |(т.е. вырезание каналов-штроб в стене специальной машиной), прокладка кабеля в гофрированной трубе по каналу и замазывание гипсом, сверление отверстий под розетки и распределительные коробки, установка пластиковых коробок, в которые впоследствии устанавливаются розетки. Если планируется установить систему освещения с применением гипсокартонных конструкций – такие работы также производятся на черновом этапе работ.
            p В некоторых случаях (как правило в новых помещениях) также требуется установить вводно-распределительный щит с автоматами. В этом случае производится штробление каналов для соединения проводки с вводно-распределительным щитом, сборка и установка щита, подключение проводов к нему.
            p В последнюю очередь производится тщательная проверка всех соединений на работоспособность, поскольку после выполнения отделочных работ устранение любых неисправностей внутренней проводки будет стоить несоизмеримо дороже.
            p<
                b Чистовой этап&nbsp;
                |работ выполняется после завершения отделочных работ. В уже практически полнотью отремонтированном помещении происходит установка розеток, выключателей, подключение светильников и бытовых электроприборов. Наконец, при необходимости электрики выполняют полные испытания всей электрической системы.
            p<
                |Важной проблемой, возникающей на черновом этапе электромонтажных работ, является&nbsp;
                b борьба со строительной пылью
                |, появляющейся в огромных количествах при штроблении и прокладке кабелей. Особенно это становится актуально, если вы делаете ремонт в одной из комнат квартиры, в которой живете. К счастью нашей фирмой применяются самые современные решения по борьбе с пылью. На ваш выбор мы предлагаем один из трех вариантов борьбы с пылью отличающийся по цене и эффективности:
            ol
                li<
                    b Минимальная защита от пыли.&nbsp;
                    |В минимальном варианте производится уплотнение всех щелей специальным противопыльным уплотнителем и изоляция помещения полиэтиленовой пленкой. Резка штроб осуществляется мощной шлифовальной машиной.
                li<
                    b Нормальная защита от пыли.&nbsp;
                    |В данном варианте для уплотнения также применяются специальные уплотнители и полиэтиленовая пленка. Для резки штроб используется мощная профессиональная машина-штроборез с системой отведения пыли, непрерывно удаляемой при помощи промышленного пылесоса. Вариант обеспечивает приемлемую во многих случаях степень защиты от пыли.
                li<
                    b Максимальная защита от пыли.&nbsp;
                    |Этот вариант включает в себя все степени защиты предыдущего варианта, но дополнительно применяется промышленный очиститель воздуха, раз в несколько минут прокачивающий весь воздух в помещении через свои фильтры. Применение этих мер в совокупности практически полностью исключает появление пыли.
            p<
                |Стоимость штробления с различной степенью защиты от пыли приведена на вкладке&nbsp;
                a(href='#tab1') “Стоимость работ”
                |. Примеры выполненных работ вы может посмотреть в нашем&nbsp;
                a(href="http://vk.com/meridor") фотоальбоме
                |.
        #tab3.tab-pane
            p
                |Электромонтажные работы выполняются в следующем порядке:
            ol
                li<
                    |Вы оставляете заказ на работы одним из&nbsp;
                    a(href='/contact') способов
                    |.
                li Наш специалист связывается с вами и договаривается о встрече для обсуждения ваших требований и первоначальных замеров. Как правило встреча происходит в течение суток после заказа или по договоренности, если объект расположен в удалении от Санкт-Петербурга.
                li
                    |В течение нескольких дней в зависимости от площади помещения, где требуется выполнить работы, происходит подготовка проекта электромонтажных работ. Подготовка включает в себя следующие этапы:
                    ul
                        li<
                            b Расчет электрических нагрузок&nbsp;
                            |– содержит расчет сечения кабелей, используемых для питания мощных электроприборов таких как стиральная машина, электроплита, электрическая сауна и так далее. Подобные устройства всегда должны подключаться к распределительному щиту отдельным кабелем напрямую.
                        li<
                            b Разработка монтажной схемы электроснабжения&nbsp;
                            |– данная схема представляет собой план помещения, на котором показано как конкретно будут расположены провода, розетки, выключатели, светильники и так далее.
                        li<
                            b Схема системы уравнивания потенциалов&nbsp;
                            |– по стандартам безопасности все электропроводящие части электрической системы должны подключаться к нулевому проводу. Данная схема показывает как именно это будет сделано.
                        li
                            b Расчет стоимости выполнения работ&nbsp;
                            |– таблица, содержащая подробный расчет стоимости каждого этапа работ.
                    |Как правило подготовка проекта занимает от 3 дней в зависимости от сложности расчетов. При выполнении работ в квартирах как правило не требуется официальное оформление всех перечисленных документов, достаточно произвести расчет стоимости и получить ваше согласие на выполнение работ по созданной монтажной схеме. В некоторых случаях, например, при строительстве загородных домов требуется получать согласование на проект электромонтажных работ от электроснабжающей организации, поскольку речь идет о подключении нового потребителя электроэнергии. Если это так, то по требованию мы предоставляем вам полный пакет перечисленных выше документов.
                li Наш специалист приезжает к вам для заключения договора на выполнение работ.
                li Если требуется согласование от соответствующих инстанций – вы самостоятельно согласуете предоставленный вами проект с энергоснабжающей организацией. Мы можем получить согласование за вас, но такие вопросы обсуждаются в индивидуальном порядке.
                li В сроки, указанные в договоре, начинается выполнение черновых работ. Как правило штробление занимает минимум один-два дня в среднестатистической квартире с балконом, прокладка проводов в каналы также длится от 2 дней и больше.
                li Производятся отделочные работы.
                li Наши электрики выполняют чистовой этап работ. Данный этап выполняется за 2 дня и более.
                li По вашему желанию мастера производят различные проверки на полностью смонтированном проекте: проверка целостности проводов, проверка отсутствия замыканий в цепях, измерение сопротивления заземляющих устройств, проверка автоматов на срабатывание, проверка защиты от короткого замыкания в розетках.
                li Происходит подписание актов выполненных работ.
            p Оплата работ происходит поэтапно – вы платите аванс 50% за текущий этап перед началом работ и 50% по их завершении.
    br
