- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Освещение и светодизайн"
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico4
            li.active
                h1
                    a Освещение и светодизайн
            li
                a(href='/') Главная
        h1.lead “Грех не в темноте, а в нежелании света.” Марина Цветаева
.container
    ul#myTab.nav.nav-tabs
        li.active.ico-nav-tab1
            a(href='#tab1') Стоимость
        li.ico-nav-tab2
            a(href='#tab2') Что включено
        li.ico-nav-tab3
            a(href='#tab3') Как заказать
    .tab-content.mytab-tab-content
        #tab1.tab-pane.active
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы вызвать дизайнера, введите номер телефона:", "additionalData" -> ad.Lighting))
        #tab2.tab-pane
            p Компания “Меридор” предлагает вам полный спектр услуг, связанных с дизайном, проектированием, расчетом и монтажом светотехнических систем любой сложности. Мы хотим доказать всем жителям нашей страны, что кроме люстры с пятью лампочками на потолке комнаты существует великое множество других вариантов освещения, которые сделают вашу жизнь более комфортной и яркой и повысят продуктивность ваших работников.
            p
                | Выполнение любого проекта в области светотехники состоит из двух основных частей:
                b проектирование
                | и
                b монтаж
                | .
            p
                b На этапе проектирования
                | первоначально мы выясняем ваши требования к освещению: какого цвета и интенсивности свет вы хотели бы видеть в рассматриваемом помещении, где будут располагаться рабочие зоны, требующие наиболее пристального внимания специалиста, имеются ли требования к экономичности освещения и так далее. После этого мы обсуждаем с вами различные варианты вспомогательных контрукций, используемых при монтаже освещения. Например, можно не просто закрепить светильники на потолке, а смонтировать многоуровневый потолок из гипсокартона или разместить светильники на металлических поворотных кронштейнах и так далее. Затем производится расчет и моделирование освещенности помещения с учетом предъявленных требований в специальной компьютерной программе. По результатам расчета составляется проект освещения, включающий:
                ul
                    li 3D-модель помещения с визуализацией освещения
                    li Виды и параметры используемых светильников, их размещение
                    li Схему размещения вспомогательных световых конструкций
                    li Монтажную схему электропроводки
                    li Расчет номинального энергопотребления световой системы
                    li Расчет стоимости выполнения работ
            p
                | После утверждения проекта начинается его реализация, то есть
                b монтаж системы освещения
                |. За исключением вспомогательных световых конструкций, монтаж системы освещения, как и любые другие электромонтажные работы состоит из двух этапов –
                b черновой
                | и
                b чистовой
                |. Подробнее об этом вы можете прочитать на странице
                a(href='/services/electrical-works') “Электромонтажные работы”
                |. Также смотрите примеры выполненных работ в нашем
                a(href='#') фотоальбоме
                |.
        #tab3.tab-pane
            p
                | Дизайн освещения и монтаж спроектированной системы производятся следующим образом:
                ol
                    li
                        |Вы оставляете заявку на проектирование системы освещения одним из
                        a(href='/contact') способов
                        |.
                    li Наш дизайнер договаривается с вами о времени встречи. Как правило, это происходит в день заказа или на следующий день.
                    li В назначенное время дизайнер приезжает для осмотра помещения, проводит измерения характерных размеров и уточняет все ваши требования.
                    li Далее происходит подготовка нескольких вариантов дизайна освещения, из которых вы должны выбрать наиболее понравившийся. Обычно трех вариантов дизайна оказывается достаточно, но, по вашему желанию, может быть предоставлено и большее количество вариантов. Этот этап как правило занимает от нескольких дней до недели.
                    li Когда выбор подходящего варианта сделан, дизайнер проводит все необходимые расчеты, включаемые в проект, чтобы убедиться в правильности всех принятых решений. Происходит подготовка полного проекта системы освещения. Данная стадия также выполняется в течение приблизительно одной недели.
                    li После того как все ваши требования оказываются учтены в проекте, наши электрики приступают к монтажу системы. Как правило дизайнер присутствует на объекте практически каждый день и следит за правильностью монтажа. Если некоторые из материалов, используемых при монтаже, необходимо изготавливать на заказ (например, светильники отраженного света), то электромонтажные работы начинаются, когда все материалы закуплены и изготовлены. В сумме черновой и чистовой этап работ длится примерно неделю, но между ними также ведутся отделочные работы, поэтому следует ориентироваться на срок не менее двух недель.
                    li Когда световая система смонтирована, дизайнером или старшим элетромонтажной бригады проводится измерение яркости света в отдельных зонах помещения, чтобы убедиться, что полученные параметры освещенности соответствуют проектным и удовлетворяют действующим государственным стандартам освещенности.
                    li Происходит подписание актов выполненных работ.
            p Оплата работ происходит поэтапно: составление проекта, черновые электромонтажные работы, чистовые электромонтажные работы. Вы платите аванс 50% за текущий этап перед началом работ и 50% по их завершении.
    br