- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Ремонт квартир и офисов"
- attributes("keywords") = "ремонт квартир, ремонт квартир фото, ремонт квартир цены, ремонт офисов, ремонт офисов под ключ, ремонт офисов цены, косметический ремонт офисов, отделка офисов, отделка помещений"
- attributes("description") = "Ремонт квартир и офисов: виды ремонта и список выполняемых работы. Как заказать. Калькулятор стоимости работ. Отправить заявку на выполнение работ."
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.room_repair
            li.active
                h1 Ремонт квартир и офисов
            li
                a(href='/') Главная
        .lead Ваш дом – ваша крепость. Сделайте вашу жизнь более яркой и комфортной, заказав ремонт квартиры или офиса у профессионалов.
.container
    ul#myTab.nav.nav-tabs
        li.active.ico-tab.prices
            a(href='#tab1') Стоимость
        li.ico-tab.information
            a(href='#tab2') Виды ремонта
        li.ico-tab.photos
            a(href='#tab3') Фотографии
    .tab-content.mytab-tab-content
        #tab1.tab-pane.active
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы заказать ремонт, введите номер телефона:", "additionalData" -> ad.RoomRepair))
        #tab2.tab-pane
            h2 Косметический ремонт
            p Косметический ремонт – наиболее быстрый и наиболее дешевый способ отремонтировать помещение. При косметическом ремонте происходит обновление покрытия стен, пола и потолков без выполнения сложных подготовительных работ. Как правило выполняются следующие виды работ:
            ul
                li снятие старого покрытия с пола, потолков и стен: обоев, плитки, линолеума, ламината
                li отключение бытовой техники и других электроприборов
                li шпатлевка (выравнивание) стен и потолков
                li покраска стен
                li побелка потолков
                li оклейка стен обоями
                li укладка линолеума или ламината
                li укладка кафельной плитки
                li замена дверей
                li установка электроприборов на прежние места
            h2 Капитальный ремонт
            p Капитальный ремонт или ремонт “под ключ” в отличие от косметического включает в себя большее количество операций, а потому делается дольше и стоит дороже.  Основным отличием капитального ремонта от косметического является полное удаление прежней отделки поверхностей, полная замена электропроводки, водопровода, канализации и систем отопления, а также возможность частичной перепланировки помещения. При капитальном ремонте выполняются следующие виды работ:
            ul
                li снятие старого покрытия с пола, потолков и стен: обоев, плитки, линолеума, ламината
                li отключение бытовой техники и других электроприборов
                li устройство потолков из гипсокартона и их окраска
                li шпатлевка (выравнивание) стен и потолков
                li покраска стен
                li побелка потолков
                li оклейка стен обоями
                li укладка паркета или ламината
                li укладка кафельной плитки или декоративного камня
                li замена окон и дверей
                li
                    a(href='/services/electrical-works') электромонтажные работы
                li сантехнические работы
                li установка электроприборов на прежние места
                li вывоз и утилизация строительного мусора
            h2 Дизайнерский ремонт
            p<
                |Дизайнерский ремонт – это не просто полный ремонт от и до, а уникальное дизайнерское решение, которое позволит вам эффектно выделить свою квартиру или офис среди других. В рамках дизайнерского ремонта в первую очередь составляется дизайн-проект помещения. При создании проекта мы также можем осуществить&nbsp;
                a(href='/services/lighting') дизайн систем освещения
                |. После этого проводится комплекс отделочных, электромонтажных и инженерно-технических работ с применением современных технологий в области строительства и материалов высшего качества. Завершается ремонт полным благоустройством помещения, включающим контроль за сборкой мебели, установкой зеркал и карнизов, монтаж люстр и светильников полной уборкой помещений и вывозом строительного мусора. Список выполняемых работ:
            ul
                li проект дизайна интерьера
                li
                    a(href='/services/lighting') проект системы освещения
                li согласование перепланировки
                li демонтажные работы
                li снятие старого покрытия с пола, потолков и стен: обоев, плитки, линолеума, ламината
                li отключение бытовой техники и других электроприборов
                li выравнивание стен, потолков и полов
                li устройство натяжных потолков или потолков из гипсокартона, их покраска
                li изготовление сложных конструкций и элементов стен по чертежам
                li изготовление вспомогательных световых конструкций
                li нанесение декоративной штукатурки
                li покраска стен
                li оклейка стен обоями
                li укладка паркета или ламината
                li укладка кафельной плитки, декоративного и природного камня, мозаики, пробки
                li полная замена или монтаж электропроводки и инженерных коммуникаций
                li монтаж систем кондиционирования и вентиляции
                li замена окон и дверей
                li контроль сборки мебели
                li проверка эффективности смонтированной системы освещения
                li обустройство помещения
                li полная уборка помещений
                li вывоз и утилизация строительного мусора

            p<
                |После выполнения ремонтно-строительных работ мы рады будем помочь вам с установкой и&nbsp;
                a(href='/services/telecommunication-technologies') настройкой компьютерных сетей и программного обеспечения
                |. Мы также готовы предложить вам комплексное&nbsp;
                a(href='/services/technical-maintenance') техническое обслуживание
                |&nbsp;помещения.
        #tab3.tab-pane
            p TBD...
    br
