- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Техническое обслуживание"
- attributes("keywords") = "техническое обслуживание, замена ламп, ремонт и техническое обслуживание, техническое обслуживание оборудования"
- attributes("description") = "Техническое обслуживание: зачем нужно, сроки и порядок выполнения. Как заказать. Калькулятор стоимости обслуживания. Отправить заявку на техническое обслуживание."
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.technical_maintenance
            li.active
                h1 Техническое обслуживание
            li
                a(href='/') Главная
        .lead Наши клиенты не боятся оставлять свою квартиру без присмотра, потому что знают, что в их отсутствие с ней ничего не случится. Регулярное техническое обслуживание – вот причина их уверенности.
.container
    ul#myTab.nav.nav-tabs
        li.active.ico-tab.prices
            a(href='#tab1') Стоимость
        li.ico-tab.information
            a(href='#tab2') Зачем мне это
        li.ico-tab.order
            a(href='#tab3') Как заказать
    .tab-content.mytab-tab-content
        #tab1.tab-pane.active
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы заказать обслуживание, введите номер телефона:", "additionalData" -> ad.TechnicalMaintenance))
        #tab2.tab-pane
            p Мы практически уверены, что у вас или у ваших близких есть личный автомобиль. Для того, чтобы автомобиль работал без поломок длительное время ему небходимо регулярно проходить техническое обслуживание: замену моторного масла, свечей зажигания, тормозных колодок и так далее. Современное жилье или офис с технической точки зрения представляет собой не менее сложный объект, и потому также требует регулярного технического обслуживания.
            p Из чего же состоит техническое обслуживание? Несмотря на то, что в каждом конкретном случае составляется индивидуальный план технического обслуживания, как правило техническое обслуживание объекта включает в себя:
            ul
                li Замену или ремонт розеток и выключателей
                li Мелкий ремонт электропроводки
                li Замену источников питания и стартеров осветительных приборов
                li Проверку заземления всех электроприборов, представляющих опасность для человека
                li Замену плавких предохранителей и вставок
                li Осмотр пусковых устройств и приводов (например, для мебели с автоматически выдвигающимися полками)
                li Осмотр и чистку вводных и распределительных щитов, шкафов управления
                li Подготовку рекомендаций по проведению крупных ремонтных работ

            p Для организаций, имеющих производственные помещения и сложное производственное оборудование, мы также готовы предложить:
            ul
                li Контроль показаний контрольно-измерительных приборов и приборов учета по основным параметрам
                li Регулярный аудит безопасности работы электрооборудования
                li Проверку работы оборудования в ручном и автоматическом режимах
                li Настройку режимов работы оборудования в зависимости от времени года
                li Ремонт и обслуживание электродвигателей вентиляторов, насосных установок и другого оборудования
        #tab3.tab-pane
            p Для того, чтобы заказать техническое обслуживание:
            ol
                li<
                    |Вы оставляете заказ на проведение первичного осмотра квартиры, дома, офиса или производственной площадки одним из&nbsp;
                    a(href='/contact') способов
                    |.
                li Специалист по техническому обслуживанию связывается с вами и договаривается о времени и месте проведения осмотра. Мы готовы приехать к вам в день заказа или на следующий день.
                li В назначенное время специалист приезжает по указанному вами адресу и проводит полноценный осмотр помещения. Если у вас есть особые требования к техническому обслуживанию, вы также можете сообщить их специалисту при встрече.
                li В течение нескольких дней происходит подготовка рекомендаций со списком работ по техническому обслуживанию, которые необходимо проводить в вашем случае. Список содержит обязательные и дополнительные виды работ, а также периодичность их выполнения и полную стоимость. Как правило, техническое обслуживание выполняется еженедельно или ежемесячно. В простых случаях, например, в квартирах – специалист может произвести расчет на месте.
                li Вы изучаете полученные документы и решаете какие дополнительные виды работ будут включены в договор. После этого происходит подписание договора технического обслуживания.
                li С момента подписания договора наши мастера будут производить все утвержденные работы в течение всего срока действия договора. Для контроля за выполнением работ ведется журнал технического обслуживания, каждая запись которого удостоверяется подписью (и при наличии печатью) заказчика.
    br