- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Телекоммуникации"
- attributes("keywords") = "телекоммуникации, провода и кабели, телекоммуникационный кабель, прокладка проводов и кабелей, соединение проводов и кабелей"
- attributes("description") = "Прокладка телекоммуникационных кабелей: сетевой кабель, телефонный кабель, телевизионный кабель. Как заказать. Стоимость прокладки. Вызвать мастера."
- attributes("pageCategory") = Services
-@ val servicesMap: Map[ServiceGroup, List[Service]]
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico5
            li.active
                h1 Телекоммуникации
            li
                a(href='/') Главная
        .lead Ваш телевизор показывает как никогда четко, а сайты загружаются быстрее, чем вы успеваете подумать? Вы приняли правильное решение, доверив прокладку кабелей нашим монтажникам!
.container
    ul#myTab.nav.nav-tabs
        li.active.ico-nav-tab1
            a(href='#tab1') Стоимость
        li.ico-nav-tab2
            a(href='#tab2') Как заказать
    .tab-content.mytab-tab-content
        #tab1.tab-pane.active
            - render("../pieces/pricesTable.jade", Map("servicesMap" -> servicesMap))
            - render("../pieces/orderForm.jade", Map("phoneTitle" -> "Чтобы заказать прокладку кабелей, введите номер телефона:", "additionalData" -> ad.Telecommunication))
        #tab2.tab-pane
            p
                | В любой современной квартире или доме всегда имеется телевизор, телефон и, в большинстве случаев, компьютер, подключенный к сети Интернет. Все эти устройства объединяет то, что для их работы в помещении должен быть проложен соответствующий кабель. Телевизор, как правило, подключается к антенне коаксиальным телевизионным кабелем, телефон – двух или четырехжильным телефонным кабелем, сеть Интернет – неэкранированной витой парой (UTP). Поскольку все эти кабели передают не электроэнергию, а информацию, из называют&nbsp;
                b телекоммуникационными кабелями
                |. Скорость и качество передачи информации по таким кабелям сильно зависит от условий их прокладки: правильности всех соединений, количества изгибов кабеля, правильности их крепления. Например, помехи в телевизоре могут появляться из-за того, что кабель был где-то передавлен или используется некачественный разъем. По тем же причинам может значительно падать скорость Интернет-соединения. Вот почему так важно, чтобы телекоммуникационные кабели прокладывал специалист.
            p
                | Наша компания прокладывает телекоммуникационные кабели как в процессе выполнения&nbsp;
                a(href='/services/electrical-works') электромонтажных работ
                |, так и в качестве отдельной услуги. При прокладке сетевых кабелей по необходимости мы осуществляем настройку сопутствующих сетевых устройств (роутеров, модемов, сетевых принтеров и так далее).
            p
                | Все работы по прокладке телекоммуникационных кабелей занимают от одного дня. Монтажник приезжает к вам в день звонка или на следующий день. Вы можете сделать заказ одним из способов, указанных на странице&nbsp;
                a(href='/contact') “Контакты”
                |.
    br