- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Гатчинском",
-       "districtTitleNominative" -> "Гатчинский",
-       "regionTitle" -> "Лениградской области",
-       "possibleLocations" -> "в Лениградской области в городе Гатчине, в поселках Коммунар, Сиверский, Вырица, Новый Свет, Большие Колпаны, Малое Верево, Войсковицы, Дружная Горка, Елизаветино, Никольское, Тайцы, Пудость, Сусанино, Рождествено и в окрестностях",
-       "additionalText" -> "Район преимущественно застроен частными домами и лишь в крупных населенных пунктах - Гатчине, Коммунаре и других имеются многоэтажные дома советской и современной постройки. В некоторых поселках также ведется современное малоэтажное строительство (например, таунхаусы ЖК Кивеннапа в поселке Пудость).",
-       "organizations" -> Map("Жилищно-коммунальные службы Гатчинского района" -> "http://www.81371.ru/catalog/catalog.php?sm=gkx&sec=gks", "Жилищно-эксплуатационные управления Гатчинского района" -> "http://www.81371.ru/catalog/catalog.php?sm=gkx&sec=reu")
-   )
- )