- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Всеволожском",
-       "districtTitleNominative" -> "Всеволожский",
-       "regionTitle" -> "Лениградской области",
-       "possibleLocations" -> "в Лениградской области возле станции метро Девяткино (поселки Мурино и Новое Девяткино), в городе Всеволожск, поселках Токсово, Кузьмоловский, Сертолово, Агалатово, Верхние и Нижние Осельки, Ненимяки, Колтуши, Разметелево, Щеглово, Юкки, Бугры, Заневка, им. Морозова, им. Свердлова, Куйвози, Щеглово",
-       "additionalText" -> "Район преимущественно застроен частными домами и лишь несколько поселений активно застраиваются современными многоэтажными комплексами. Сюда в первую очередь относятся Всеволожск, район метро Девяткино, район Приозерского и Новоприозерского шоссе (Юкки, Бугры, Осиновая роща), район Колтушского шоссе (Колтуши). Многие другие поселки городского типа (например, поселок им. Морозова) имеют кварталы пятиэтажных панельных домов 70-х и 80-х годов постройки.",
-       "organizations" -> Map("Центр коммунальных платежей и социальных субсидий Всеволожского района Ленинградской области" -> "http://www.vsevcenter.ru/", "ООО \"Жилищно-коммунальная компания\" (управляющая компания)" -> "http://gkkvsev.ru/", "ООО \"Управляющая компания Сервис Агалатово\"" -> "http://www.agalatovo.org/index.php/zhkkh/upravlyayushchaya-kompaniya")
-   )
- )