#alert-loading{:class => 'alert yellow'}
    p
        | Отправка данных
        span.dots
#alert-ok{:class => 'alert green'}
    p Заказ принят. Наш оператор свяжется с вами в ближайшее время.
#alert-submit-error{:class => 'alert red'}
    p Произошла ошибка при отправке заказа. Попробуйте еще раз.
#alert-invalid-phone{:class => 'alert red'}
    p Неправильный номер телефона. Укажите номер в формате +79051234567 или 89051234567.
#alert-invalid-client-name{:class => 'alert red'}
    p Вы не указали свое имя.


