- import ru.meridor.website.processing.{OrderFormAdditionalData => AD}
- import AD._
-@ val phoneTitle: String = "Чтобы заказать услуги, введите номер телефона:"
-@ val nameTitle: String = "Как вас зовут:"
-@ val additionalData: AD = None

form.form-order.form-inline{:action => '/api/order', :method => 'post'}
    label(for='phone')
        = phoneTitle + " "
    input.span2{:name => 'phone', :id => 'phone', :type => 'text', :placeholder => '+79051234567'}
    label(for='client_name')
        = nameTitle
    input.input-large.input-fo-name{:name => 'client_name', :id => 'client_name', :type => 'text', :placeholder => 'Иван Иванов'}
    - val additionalDataVal: String = additionalData.toString
    input{:name => 'additional_data', :type => 'hidden', :value => additionalDataVal}
    button.button
        | Заказать
        i.icon-share-alt
- render("orderFormAlerts.jade")