- import ru.meridor.diana.db.entities.{Service, ServiceGroup, ServiceGroupContents}
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
-@ val showGlobalTotals: Boolean = false
- val showTableCaption = servicesMap.size > 1
table.table.tables
    tbody
        tr
            td
                - for ((serviceGroup, serviceGroupContents) <- servicesMap)
                    - val childGroupsData: Map[ServiceGroup, ServiceGroupContents] = serviceGroupContents.childGroupsData
                    - val services: List[Service] = serviceGroupContents.services
                    - render("serviceGroupPriceTable.jade", Map("serviceGroup" -> serviceGroup, "services" -> services, "childGroupsData" -> childGroupsData, "showTableCaption" -> showTableCaption))
    - if (showGlobalTotals)
        tfoot
            tr
                td
                    table.table
                        tr
                            td
                                | &nbsp;
                                -# a.button(href='javascript:void(0)')
                                -#    | Сохранить расчет
                                -#    i.icon-download-alt
                            td &nbsp;
                            td &nbsp;
                            td Итого:
                            td#totalPrice{:title => 'Отображает полную стоимость работ'} 0