- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- import ru.meridor.website.processing.AvailableServiceGroups._
-@ val serviceGroup: ServiceGroup
-@ val services: List[Service]
-@ val showTableCaption: Boolean = true
- val serviceGroupName: String = serviceGroup.name
- var tableClass = "table table-ceny table-striped table-bordered table-bordered-custom prices"
- if (showTableCaption)
    - tableClass += " withCaption"
table{:id => serviceGroupName, :class => tableClass}
    - if (showTableCaption)
        caption
            - val serviceGroupClass: String = headerClass(serviceGroupName)
            h2{:class => serviceGroupClass, :title => 'Нажмите, чтобы скрыть или показать таблицу'}= serviceGroup.displayName
    thead
        tr
            th{:title => 'Наименование вида работ'} Наименование
            th{:title => 'Единица измерения (штуки, метры, часы и т.д.)'} Ед.изм.
            th{:title => 'Цена за одну единицу измерения'} Цена за ед.изм.
            th.inputs{:title => 'Сколько единиц измерения требуется выполнить'}
                | Объем
                a.i_clear{:href => 'javascript:void(0)', :title => 'Очистить раздел'}
            th.value{:title => 'Стоимость каждого вида работ с учетом количества'} Полная стоимость

    tbody
        - for (service <- services)
            tr.price
                td
                    span.id(style='display: none;')= service.id
                    span.title
                        != service.displayName
                td.uom
                    != service.unitOfMeasure.displayName
                td.unit_price= service.price
                td.inputs
                    input.input-small.quantity{:value => '0', :type => 'text'}
                    a.i_clear{:href => 'javascript:void(0)', :title => 'Очистить строку'}
                td.value 0

    tfoot
        tr
            td(colspan='3')
            td(colspan='1') Итого по разделу:
            td.total{:title => 'Отображает стоимость работ в данном разделе'} 0