- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- import ru.meridor.website.processing.AvailableServiceGroups._
-@ val serviceGroup: ServiceGroup
-@ val services: List[Service]
-@ val showTableCaption: Boolean = true
- val serviceGroupName: String = serviceGroup.name
table.table.table-ceny.table-striped.table-bordered.table-bordered-custom.prices{:id => serviceGroupName}
    - if (showTableCaption)
        caption
            - val serviceGroupClass: String = headerClass(serviceGroupName)
            h2{:class => serviceGroupClass}= serviceGroup.displayName
    thead
        tr
            th Наименование
            th Ед.изм.
            th Цена за ед.изм.
            th.inputs
                | Объем
                a.i_clear(href='javascript:void(0)')
            th Полная стоимость

    tbody
        - for (service <- services)
            tr.price
                td
                    span.id(style='display: none;')= service.id
                    span.title
                        != service.displayName
                td.uom
                    != service.unitOfMeasure.displayName
                td.unit_price= service.price
                td.inputs
                    input.input-small.quantity{:value => '0', :type => 'text'}
                    a.i_clear(href='javascript:void(0)')
                td.value 0

    tfoot
        tr
            td(colspan='3')
            td(colspan='1') Итого по разделу:
            td.total 0