- import ru.meridor.diana.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.util.StringUtils._
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("title") = "Установка варочной панели"
- attributes("keywords") = "установка варочной панели, подключение варочной панели, варочная панель, виды варочных панелей"
- attributes("description") = "Виды варочных панеле. Установка варочной панели: этапы работ, типичные расценки."
- render(
-   "common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "orderFormAdditionalData" -> ad.Hob,
-       "mainHeader" -> "Установка варочной панели",
-       "applianceTypesHeader" -> "Виды и марки варочных панелей",
-       "applianceTypesParagraph" -> prepareMultilineString("""До последнего времени не существовало разделения на электрический духовой шкаф и варочную поверхность – все готовили на электроплитах или газовых плитах. В последние годы появилась возможность устанавливать варочную поверхность отдельно от духового шкафа. Это позволяет лучше встраивать эти электроприборы в кухонный гарнитур.
- |Существует большое число разновидностей варочных поверхностей. Во-первых, кроме непосредственно варочных поверхностей с конфорками существуют **панели-фритюрницы** и **панели-грили**. Фритюрницы позволяют обжаривать изделия в кипящем масле, создавая корочку-фритюр. Грили нужны для поджаривания мяса, рыбы или овощей на решетке, под которой расположены нагревательные элементы.
- |Варочные поверхности также различаются по типу конфорок. Существует несколько основных типов конфорок: **обычные спиральные**, **галогенные** и индукционные. В спиральных конфорках нагрев посуды осуществляется электрической спиралью, которая выделяет тепло. Такие конфорки достаточно медленно нагреваются и также медленно остывают. Галогенные конфорки размещаются под стеклокерамической варочной поверхностью и состоят из комбинации мощной электрической спирали и галогенной кварцевой лампы, которая мгновенно нагревает поверхность под кастрюлей. Большинство современных варочных поверхностей использует именно галогенные конфорки. Индукционные конфорки из-за своей высокой стоимости пока не получили достаточного распространения. Такие конфорки с помощью магнитных полей нагревают только стоящую на них посуду и при этом не нагреваются сами. На таких конфорках можно готовить только в определенной металлической посуде (чугун, эмалированная посуда) и бесполезно использовать алюминий, стекло или керамику.
- |Наиболее известные производители варочных поверхностей:
- |* [BEKO](http://www.beko.ru/)
- |* [Bosch](http://www.bosch.ru/)
- |* [Electrolux](http://www.electrolux.ru/)
- |* [Gorenje](http://www.gorenje.ru/)
- |* [Hansa](http://www.hansa-russia.ru/)
- |* [Hotpoint-Ariston](http://www.hotpoint-ariston.ru/)
- |* [Korting](http://korting.ru/)
- |* [NEFF](http://www.neff.ru/)
- |* [Samsung](http://www.samsung.com/ru/)
- |* [Siemens](http://www.siemens.ru/)
- |* [Zanussi](http://www.zanussi.ru/)
- |* [Zigmund & Shtain](http://www.zigmundshtain.ru/)"""),
-       "applianceTypesImgSrc" -> "/photos/services/electrical-appliances/hob.jpg",
-       "connectionPriceHeader" -> "Стоимость подключения варочной панели",
-       "connectionPriceParagraph" -> "Для безопасной работы варочная панель должна быть правильно подключена к электрической сети. Подключение варочной поверхности включает:"
-   )
- )