- import ru.meridor.diana.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.util.StringUtils._
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("title") = "Установка микроволновой печи"
- attributes("keywords") = "установка микроволновой печи, подключение микроволновой печи, микроволновая печь, виды микроволновых печей"
- attributes("description") = "Виды микроволновых печей. Установка микроволновой печи: этапы работ, типичные расценки."
- render(
-   "common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "orderFormAdditionalData" -> ad.MicrowaveOven,
-       "mainHeader" -> "Установка микроволновой печи",
-       "applianceTypesHeader" -> "Виды и марки микроволновых печей",
-       "applianceTypesParagraph" -> prepareMultilineString("""Микроволновые печи служат для подогрева холодных продуктов, разморозки полуфабрикатов и приготовления некоторых блюд. Основными параметрами микроволновой печи являются ее **объем** и **мощность микроволнового излучения**. Чем больше будут эти параметры, тем больше продуктов вы сможете приготовить за меньшее время. Мощность микроволнового излучения  всегда  меньше мощности, потребляемой печью от электрической сети. Например, максимальная микроволновая мощность может равняться 800 Вт, но при этом потребление электрической энергии будет 1200 Вт. Это связано с тем, что источник микроволн – магнетрон имеет ограниченный коэффициент полезного действия. Подобная электрическая мощность серьезно влияет на электрические сети, вот почему так важно правильно подключить микроволновую печь.
- |В качестве дополнительных возможностей некоторые модели микроволновых печей комплектуются **встроенным грилем**, позволяющим не только подогревать, но и поджаривать мясо, рыбу и овощи. Также продвинутые модели поддерживают **режим конвекции**, при котором продукты обдуваются струями горячего воздуха, что дает более равномерный нагрев и лучше сохраняет витамины. Для той же самой цели некоторые микроволновые печи оборудованы **системой равномерного распределения микроволн** и инверторного управления мощностью.
- |Наиболее известные производители микроволновых печей:
- |* [Bosch](http://www.bosch.ru/)
- |* [Daewoo Electronics](http://www.daewoo-electronics.ru/)
- |* [Electrolux](http://www.electrolux.ru/)
- |* [Gorenje](http://www.gorenje.ru/)
- |* [LG](http://www.lg.com/ru)
- |* [Mystery](http://mysteryelectronics.ru/)
- |* [Panasonic](http://www.panasonic.com/ru/home/)
- |* [Rolsen](http://www.rolsen.ru/)
- |* [Samsung](http://www.samsung.com/ru/)
- |* [Siemens](http://www.siemens.ru/)
- |* [Supra](http://supra.ru/)
- |* [Whirlpool](http://www.whirlpool.ru/)"""),
-       "applianceTypesImgSrc" -> "/photos/services/electrical-appliances/microwave-oven.jpg",
-       "connectionPriceHeader" -> "Стоимость подключения микроволновой печи",
-       "connectionPriceParagraph" -> "Для безопасной работы микроволновая печь должна быть правильно подключена к электрической сети. Кроме того при необходимости можно подвесить печь на стенку на специальный кронштейн для микроволновых печей. Это позволит сэкономить место на столе, если у вас небольшая кухня. Подключение микроволновой печи включает:"
-   )
- )