- import ru.meridor.diana.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.util.StringUtils._
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("title") = "Установка стиральной машины"
- attributes("keywords") = "установка стиральной машины, подключение стиральной машины, стиральная машина, виды стиральных машин"
- attributes("description") = "Виды стиральных машин. Установка стиральной машины: этапы работ, типичные расценки."
- render(
-   "common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "orderFormAdditionalData" -> ad.WashingMachine,
-       "mainHeader" -> "Установка стиральной машины",
-       "applianceTypesHeader" -> "Виды и марки стиральных машин",
-       "applianceTypesParagraph" -> prepareMultilineString("""Стиральные машины бывают с **фронтальной** (горизонтальной) и **вертикальной загрузкой** белья. Наиболее распространены машины с фронтальной загрузкой, т.к. в них помещается больше белья, они меньше вибрируют и шумят при стирке и стоят дешевле. Особую категорию стиральных машин с вертикальной загрузкой составляют так называемые активаторные стиральные машины, с лопастями, взбивающими воду и стиральный порошок. Такие стиральные машины были распространены в начале 90-х годов, а сейчас из-за своей невысокой стоимости подходят для установки на даче. Кроме того стиральные машины различаются по наличию функции сушки белья и скорости его отжима. Наиболее продвинутые модели могут отжимать белье со скоростью до 2000 оборотов в минуту. Также стоит обратить внимание на максимальную массу белья, которое можно загрузить в машину. В среднем эта величина составляет 7-8 килограмм, но существуют модели, позволяющие стирать до 14 килограмм белья за раз. Перед покупкой стиральной машины также обратите внимание на ее класс энергопотребления и класс стирки. Немного переплатив вначале вы сэкономите на оплате электроэнергии и получите лучшее качество стирки. Некоторые стиральные машины имеют специальные программы удаления пятен, стирки спортивной обуви, верхней одежды или подушек. Если вы планируете устанавливать стиральную машину в уже имеющийся кухонный гарнитур, то вам следует выбирать среди встраиваемых стиральных машин.
- |Наиболее известными производителями стиральных машин являются компании:
- |* [Bosch](http://www.bosch.ru/)
- |* [Electrolux](http://www.electrolux.ru/)
- |* [Gorenje](http://www.gorenje.ru/)
- |* [Hotpoint-Ariston](http://www.hotpoint-ariston.ru/)
- |* [Indesit](http://www.indesit.ru/)
- |* [LG](http://www.lg.com/ru)
- |* [Samsung](http://www.samsung.com/ru/)
- |* [Siemens](http://www.siemens.ru/)
- |* [Zanussi](http://www.zanussi.ru/)"""),
-       "applianceTypesImgSrc" -> "/photos/services/electrical-appliances/washing-machine.jpg",
-       "connectionPriceHeader" -> "Стоимость подключения стиральной машины",
-       "connectionPriceParagraph" -> prepareMultilineString("""Для безопасной работы стиральная машина должна быть правильно подключена к электрической сети. Это связано с тем, что машина нагревает воду для стирки с помощью термоэлектрических нагревателей (ТЭН), которые потребляют большую электрическую мощность (около 2 КВт/час). Подобные мощные электроприборы подключаются проводами увеличенного поперечного сечения. Кроме того стиральная машина имеет заливной и сливной шланги, через которые циркулирует вода.
- |Подключение стиральной машины состоит из следующих этапов:""")
-   )
- )