- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Красногвардейском",
-       "districtTitleNominative" -> "Красногвардейский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи станций метро Новочеркасская или Ладожская, в микрорайоне Ржевка-Пороховые или в Полюстрово",
-       "additionalText" -> "Красногвардейский район располагается на территории бывших поселений Полюстрово, Ржевка, Пороховые, Жерновка, а также на Малой и Большой Охте. Берега рек Охта и Нева в этой части Петербурга исторически использовались под промышленные предприятия, поэтому, например, сегодня практически все побережье Охты занято под производства. Жилые массивы расположены в районе проспекта Косыгина (Ржевка-Пороховые), Заневского проспекта (Малая Охта), Среднеохтинского и Большеохтинского проспектов (Большая Охта), проспекта Металлистов (Полюстрово). Район застроен преимущественно домами послевоенной застройки: \"сталинками\", хрущевками, многоэтажками 70-х и 80-х годов. Имеющиеся свободные площади района застраиваются и в настоящий момент.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Красногвардейского района\" (ГУ ЖА Красногвардейского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=10&Itemid=100", "Управляющие компании Красногвардейского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=99&Itemid=100")
-   )
- )