- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Красносельском",
-       "districtTitleNominative" -> "Красносельский",
-       "possibleLocations" -> "в Лигово, Сосновой Поляне, Красном селе, Горелово, в поселках Володарский, Торики, Старо-Паново, Можайский",
-       "additionalText" -> "Красносельский район - в основном застроен многоэтажными жилыми домами, выстроенными на месте дач и других построек царского времени после Великой Отечественной Войны.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Красносельского района\" (ГУ ЖА Красносельского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=11&Itemid=100", "Управляющие компании Красносельского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=100&Itemid=100")
-   )
- )