- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Курортном",
-       "districtTitleNominative" -> "Курортный",
-       "possibleLocations" -> "в Сестрорецке, Зеленогорске и поселках Белоостров, Комарово, Молодежное, Песочный, Репино, Серово, Смолячково, Солнечное, Ушково",
-       "additionalText" -> "Курортный район преимущественно застроен частными домами. Многоэтажные дома есть только в Сестрорецке и Зеленогорске.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Курортного района\" (ГУ ЖА Курортного района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=13&Itemid=100", "Управляющие компании Курортного района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=102&Itemid=100")
-   )
- )