- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Невском",
-       "districtTitleNominative" -> "Невский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи станций метро Елизаровская, Ломоносовская, Пролетарская, Обухово, Рыбацкое, Проспект Большевиков, Улица Дыбенко",
-       "additionalText" -> "Невский район расположен на двух берегах Невы. На правом берегу в районе проспекта Большевиков и проспекта Солидарности имеются кварталы пятиэтажной панельной застройки и многоэтажной застройки 80-х и 90-х годов. Большие пустующие площади в районе Дальневосточного проспекта и улицы Коллонтай сейчас активно застраиваются 25-этажными домами и торговыми площадями. Левый берег, особенно вдоль проспекта Обуховской обороны застроен промышленными предприятиями, перемежающимися жилыми кварталами: в основном пятиэтажными в районе метро Елизаровская и большей этажности при движении в сторону метро Рыбацкое. В целом большинство домов имеют более менее современную электропроводку.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Невского района\" (ГУ ЖА Невского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=15&Itemid=100", "Управляющие компании Невского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=104&Itemid=100")
-   )
- )