- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Василеостровском",
-       "districtTitleNominative" -> "Василеостровский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи станций метро Василеостровская или Приморская",
-       "additionalText" -> "Василеостровский район условно может быть разделен на две части, соответствующие различным периодам постройки зданий. Восточная часть, расположенная вокруг станции метро Василеостровская преимущественно состоит из зданий дореволюционной постройки и составляет исторический центр Санкт-Петербурга. При движении в сторону Финского залива (на запад) появляются дома сталинской постройки и современные многоэтажные жилые комплексы (\"Васильевский квартал\", \"Морской фасад\" и другие) и бизнес-центры (например, БЦ \"Биржа\"), соответствующие всем современным требованиям в области строительства.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Василеостровского района\" (ГУ ЖА Василеостровского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=436&Itemid=100", "Управляющие компании Василеостровского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=94&Itemid=100")
-   )
- )