- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Выборгском",
-       "districtTitleNominative" -> "Выборгский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи одной из следующих станций метро: Выборгская, Лесная, Озерки, Парнас, Проспект Просвещения, Удельная или в поселках Парголово и Левашово",
-       "additionalText" -> "В южной части Выборгского района (вблизи станции метро Выборгская) преобладают здания дореволюционной постройки, преимущественно второй половины XIX века, когда эта часть города являлась промышленной окраиной. При движении на север появляются дома сталинской постройки (метро Лесная и вдоль проспекта Энгельса), которые постепенно переходят в постройки более позднего времени, в том числе современные. Северная часть района (метро Озерки, Проспект Просвещения, Парнас) - в основном состоит из новостроек различных серий. Поселки Парголово и Левашово, а также некоторые кварталы вокруг метро Озерки в основном застроены индивидуальными частными домами разных годов. Вот почему в разных частых района системы электроснабжения могут различаться от современных до полностью устаревших.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Выборгского района\" (ГУ ЖА Выборгского района)" -> "http://gov.spb.ru/gov/terr/reg_viborg/otdel/zhilishnoe-agentstvo/", "Управляющие компании Выборгского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=95&Itemid=100")
-   )
- )