- import ru.meridor.website.processing.{OrderFormAdditionalData => AD}
- import AD._
- import java.util.Date
-@ val phoneTitle: String = "Чтобы заказать услуги, введите номер телефона:"
-@ val nameTitle: String = "Как вас зовут:"
-@ val additionalData: AD = None
-@ val isFirstOrderForm: Boolean = true
- val timestamp = new Date().getTime

form.well.form-order.form-inline{:action => '/api/order', :method => 'post'}
    - val phoneId = "phone" + timestamp
    label(for=phoneId)
        = phoneTitle + " "
    input.input-large.phone{:name => 'phone', :id => phoneId, :type => 'text', :placeholder => '+79051234567'}
    - val clientNameId = "client_name" + timestamp
    label(for=clientNameId)
        = nameTitle
    input.input-large.client_name{:name => 'client_name', :id => clientNameId, :type => 'text', :placeholder => 'Иван Иванов'}
    - val additionalDataVal: String = additionalData.toString()
    input{:name => 'additional_data', :type => 'hidden', :value => additionalDataVal}
    button.button{:title => 'Нажмите, чтобы отправить заказ'}
        | Заказать
        i.icon-share-alt
- if (isFirstOrderForm)
    - render("orderFormAlerts.jade")