#alert-loading{:class => 'alert yellow'}
    p
        | Отправка данных
        span.dots
#alert-ok{:class => 'alert green'}
    p Заказ принят. Наш оператор свяжется с вами в ближайшее время.
#alert-submit-error{:class => 'alert red'}
    p Произошла ошибка при отправке заказа. Попробуйте еще раз. Пользователям iPad и iPhone: вы можете видеть это сообщение из-за ошибки в Mobile Safari. Если вы получили SMS-сообщение на телефон, то заказ обработан успешно.
#alert-invalid-phone{:class => 'alert red'}
    p Неправильный номер телефона. Укажите номер в формате +79051234567 или 89051234567.
#alert-invalid-client-name{:class => 'alert red'}
    p Вы не указали свое имя.


