- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Провода и кабели: классификация"
- attributes("keywords") = "провода и кабели, витая пара, коаксиальный кабель, телефонный провод, виды изоляции, виды экранов, электрический шнур"
- attributes("description") = "Классификация проводов, кабелей и электрических шнуров. Виды изоляции и экранирования проводов и кабелей."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.articles
            li.active
                h1 Провода и кабели: классификация
            li
                a(href='/') Главная
        p.lead При выполнении электромонтажных работ важно правильно выбрать используемые провода и кабели. В этой статье мы рассмотрим какие вообще бывают виды проводов и кабелей.
.container
    .row-fluid
        .case.article.span12
            a.article-nav-left(href='/articles/no-dust' title='Работа без пыли')
            -#a.article-nav-right(href='/articles/standards' title='К следующей статье')
            h2 Провода, шнуры, кабели
            p Согласно ГОСТ 15845-80 среди изделий, служащих для передачи электрического тока или информации, выделяют три основных типа:
            ul
                li Провод – одна или несколько голых или изолированных жил, поверх которых в зависимости от условий прокладки и эксплуатации может иметься легкая неметаллическая оболочка, обмотка и (или) оплетка из волокнистых материалов или проволоки, и не предназначенное, как правило, для прокладки в земле.
                li Кабель - изделие, содержащее одну или более изолированных жил (проводников), заключенных в металлическую или неметаллическую оболочку, поверх которой в зависимости от условий прокладки и эксплуатации может иметься соответствующий защитный покров, в который может входить броня, и пригодное, в частности, для прокладки в земле и под водой.
                li Электрический шнур - провод с изолированными жилами повышенной гибкости, служащий для соединения с подвижными устройствами.
            p Таким образом, основным отличием провода от кабеля является степень защищенности проводящих жил от внешних воздействий и возможность прокладки изделия в земле и под водой. Электрический шнур же является гибким подвидом провода.
            img.pull-right(src='/photos/articles/wires-and-cables/classification.jpg' alt='Провода бывают разные' title='Провода бывают разные')
            h2 Классификация проводов и кабелей
            h3 По рабочему напряжению
            ul
                li кабели и провода высокого напряжения (больше 1000 В)
                li кабели, провода и шнуры низкого напряжения (до 1000 В) 
            h3 По назначению
            ul
                li Кабели силовые: для стационарной и нестационарной прокладки
                li Кабели и провода связи: симметричные, коаксиальные, телефонные
                li Кабели греющие
                li Кабели радиочастотные
                li Кабели оптические
                li Кабели управления
                li Кабели контрольные
                li Провода неизолированные: для воздушных линий электропередачи и гибкие
                li Провода силовые изолированные
                li Провода обмоточные с различным типом изоляции
                li Провода монтажные
                li Провода бортовые
                li Провода ленточные
                li Провода зажигания
                li Шнуры: силовые и слаботочные
                li Арматура силовых кабелей
            h3 По наличию и материалу изоляции
            ul
                li Изоляция отсутствует
                li Резиновая (натуральный и синтетический каучук)
                li Полиэтиленовая (полиэтилен высокого и низкого давления)
                li ПВХ (поливинилхлоридный пластикат)
                li Бумага, пропитанная масло-канифольным составом
                li Фторопласт (политетрафторэтилен)
                li Хлопчатобумажная пряжа
                li Шелковые ткани
                li Изоляционные лаки
                li Прессованная окись магния
                li Другие типы изоляции
            h3 По типу экрана
            ul
                li Экран отсутствует
                li Медная или алюминиевая фольга
                li Оплетка экранная сетчатая
                li Оплетка проволочная спиральная
                li Комбинированный экран (2 и более типа экрана)
            h3 По количеству жил
            ul
                li Одножильный
                li Многожильный
            h3 По материалу жил
            ul
                li Для передачи электрической энергии и сигналов: медь, алюминий, сталь, серебро, золото, сплавы и сверхпроводящие материалы
                li Для рассеивания тепла: нихром и константан
                li Для передачи оптических сигналов: различные виды пластмасс и стекло (оптоволокно)
            h3 По пожаробезопасности
            p Все современные кабели не должны распространять горение. Кроме этого применяемые материалы могут быть:
            ul
                li С пониженным дымообразованием
                li С пониженной коррозионной активностью продуктов горения
                li Выделяющими низкотоксичные вещества при горении
                li Огнестойкими