- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Провода и кабели: соединение"
- attributes("keywords") = "соединение кабелей и проводов, способы соединения кабелей и проводов, схемы соединения кабелей и проводов, соединение жил проводов и кабелей"
- attributes("description") = "Все возможные способы соединения проводов и кабелей. Скрутка, обжим, бандажировние, прессовка, пайка, дуговая сварка, термитная сварка, клёпка, резьбовое соединение, пружинное соединение."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.articles
            li.active
                h1 Провода и кабели: соединение
            li
                a(href='/') Главная
        p.lead Профессиональный электрик умеет не только правильно подобрать тип и сечение используемого провода, но и грамотно соединяет провода между собой. О возможных способах соединения проводов мы и поговорим в этой статье.
.container
    .row-fluid
        .case.article.span12
            a.article-nav-left(href='/articles/wires-and-cables/marking' title='Провода и кабели: маркировка')
            a.article-nav-right(href='/articles/ground-connection/classification' title='Заземление: виды заземления')
            h2 Способы соединения проводов
            p Выделяют следующие основные способы соединения проводов:
            ul
                li Скрутка
                li Бандажирование
                li Обжим
                li Опрессовка
                li Пайка
                li Дуговая сварка
                li Термитная сварка
                li Клёпка
                li Резьбовое соединение
                li Пружинное соединение
            h3 Скрутка проводов
            img.pull-right(src='/photos/articles/wires-and-cables/layup.jpg' alt='Скрутка алюминиевых проводов' title='Скрутка алюминиевых проводов')
            p
                | Является самым простым способом соединения проводов, для которого требуется зачистить провода, накрутить один провод на другой для получения прочного соединения и заизолировать полученное соединение изолентой или термоусаживаемой трубкой. Не подходит для соединения алюминиевых и медных проводов между собой, т.к. место соединения представляет собой гальваническую пару, что впоследствии приводит к постоянному нагреву соединения, а это приводит к быстрому разрушению соединения или к плавлению изоляции проводов. Кроме того скрутка проводов официально запрещена в нормативных документах (ПУЭ), поэтому не рекомендуем их использовать, если речь идет об официальном строительстве. Тем не менее из-за своей простоты скрутка остается одним из наиболее распространенных видов соединения проводов. Подробную информацию о том, как правильно соединить провода скруткой вы можете найти по&nbsp;
                a(href='http://electrik.info/main/sekrety/391-kak-sdelat-horoshuyu-skrutku.html') ссылке
                |.
            h3 Обжим проводов
            p
                |Провода можно обжимать электрическими соединителями с врезными контактами (скотч-локами), накидными клеммами или пластиковыми наконечниками. Обжим&nbsp;
                b пластиковым наконечником&nbsp;
                |чаще всего применяется для телекоммуникационных кабелей: телефонного кабеля и сетевого кабеля стандарта Ethernet. Набор стандартных разъемов и пластиковых наконечников позволяет быстро подключать и отключать кабель от устройства и соединять кабели между собой. Для стандартного телефонного кабеля используется разъем RJ-11 и наконечник 6P2C. Существуют версии телефонных наконечников для подключения двух и более линий по одному кабелю (например, RJ14 6P4C), а также для подключения телефонной линии к офисной АТС (RJ12 6P6C). В профессиональном лексиконе все вышеперечисленные телефонные разъемы и наконечники коротко называют просто RJ11. Для 8-жильной витой пары, повсеместно применяемой при прокладке локальных сетей стандарта Ethernet, в большинстве случаев используется разъем серии RJ45 и наконечник 8P8C. Опять же, хотя это и неправильно, говорят, что для обжима витой пары используется наконечник RJ45.
            p Внутреннее строение пластиковых разъемов очень простое. Такой разъем состоит из пластикового корпуса, набора пластиковых каналов для отдельных жил кабеля и набора медных штырьков-ножей. Для того, чтобы обжать кабель подобным наконечником нужно снять с него часть внешней изоляции на длину наконечника (1-2 см), затем поместить жилы кабеля в нужный канал разъема (существует стандартное расположение цветных жил внутри наконечника). Обжим кабеля производится специальными пресс-клещами (кримперами), описанными в статье “Инструмент электрика”. Во время обжима медные ножи самы разрезают изоляцию жил и обеспечивают хороший контакт, а специальный пластиковый зажим прижимает внешнюю изоляцию кабеля и обеспечивает механическую прочность крепления разъема.
            iframe.pull-center(width="420" height="315" src="//www.youtube.com/embed/t1g-bMwoRzE?rel=0" allowfullscreen)
            em.img-signature Обжим витой пары
            p
                b Скотч-локи&nbsp;
                |по своему строению и способу применения очень похожи на пластиковые наконечники, но в отличие от последних, их металлические проводящие ножи соединяют сразу два независимых отрезка провода. Внутри скотч-лока содержится водоотталкивающий гель, защищающий соединение от коррозии. Обжим скотч-локов может быть произведен обычными плоскогубцами. Применяются скотч-локи для слаботочных проводов.
            p
                b Накидные клеммы&nbsp;
                |– металлические клеммы, которые накидываются на провод и зажимаются на нем за счет сдавливания провода материалом самой клеммы. Такие клеммы очень распространены при прокладке автомобильной электропроводки. Чаще всего помещаются слой изоляции или пластиковый разъем, содержащий несколько таких клемм.
            h3 Опрессовка проводов
            p Соединения проводов прессовкой как правило применяется для больших токов. Для соединения используются специальные металлические гильзы (медные, медные луженые, алюминиевые, медно-алюминиевые) и пресс-клещи. Существуют также гильзы, в которых провод зажимается специальными винтами. В отличие от скрутки соединение проводов прессовкой является необслуживаемым (одноразовым), но зато позволяет соединять медные и алюминиевые провода (медно-алюминиевые гильзы). Такие соединения могут быть замурованы в стену и закопаны в землю, а потому часто применяются при монтаже заземления. В некоторых случаях, когда опрессованное соединение необходимо подключить к заземлению, могут применяться гильзы, комбинированные с металлической клеммой.
            iframe.pull-center(width="420" height="315" src="//www.youtube.com/embed/3-Jw2Ay7naI?rel=0" allowfullscreen)
            em.img-signature Опрессовка проводов гильзами
            h3 Пайка проводов
            p Пайка проводов может применяться для более прочного соединения проводов небольшого сечения в распределительных коробках. В этом случае скрученные провода дополнительно покрываются слоем припоя (облуживаются). Однако, последние государственные стандарты в области электротехники (например, ГОСТ Р 50571.5.52-2011 или ГОСТ Р 51321.1-2007) и правила устройства электроустановок (ПУЭ, глава 4.2) не рекомендуют или прямо запрещают использование паяных соединений проводов. Это связано с тем, что при нагреве таких соединений припой может расплавиться и вытечь. Если же вы все-таки решили сделать соединение проводов пайкой, то следует накрутить на соединение пластиковый наконечник – соединительно-проводов, который не даст припою вытечь.
            h3 Дуговая сварка проводов
            img.pull-center(src='/photos/articles/wires-and-cables/welding.jpg' alt='Дуговая сварка проводов' title='Дуговая сварка проводов')
            em.img-signature Дуговая сварка
            p Дуговая сварка проводов может применяться наравне с пайкой, для более прочного соединения проводов в распределительных коробках. В этом случае вместо мощного паяльника как правило используется сварочный аппарат инверторного типа. Для сваривания используются плавящиеся металлические покрытые электроды, например, марки АНО. Поскольку температура электрической дуги (до 5000&deg;С) значительно превышает температуру паяльника (сотни &deg;С), дуговая сварка обеспечивает более прочное соединение проводов. Технология соединения остается аналогичной: провода зачищаются от изоляции, скручиваются и затем свариваются.
            h3 Термитная сварка проводов
            img.pull-right(src='/photos/articles/wires-and-cables/thermite.jpg' alt='Термитная сварка проводов' title='Термитная сварка проводов')
            p<
                |Для соединения нескольких проводов большого поперечного сечения (более 2.5 мм
                sup 2
                |) применяется термитная сварка проводов.&nbsp;
                b Термит&nbsp;
                |– это порошкообразная смесь алюминиевого, магниевого, кальциевого, кремниевого или титанового порошка с оксидами металлов (чаще всего железа) в различных пропорциях. Термит при поджигании горит с выделением очень большого количества тепла, что позволяет использовать его для сварки металлических изделий (проводов, труб, рельсов).
            p
                |Для термитной сварки проводов применяются специальный термитные шашки, представляющие собой металлический патрон, опрессованный слоем термита. Перед выполнением термитной сварки с проводов снимается изоляция, они скручиваются, хорошо высушиваются и обезжириваются, т.к. при попадании влаги в термитный состав возможен взрыв. Далее в зависимости от сечения проводов происходит выбор размера термитной шашки. Шашка должна быть подобрана таким образом, чтобы патрон плотно сидел на скрученных проводах. Далее место соединения изолируется асбестовым картоном, чтобы избежать плавления изоляции проводов. Затем термитный состав поджигается специальной спичкой. При выгорании термитного состава патрон плотно скрепляет провода между собой, а на его поверхности остаются продукты горения термита – шлак, который убирается пассатижами. Подробнее о работе с термитной сваркой вы можете почитать по&nbsp;
                a(href='http://forca.ru/knigi/arhivy/vypolnenie-elektromontazhnyh-rabot-13.html' target='_blank') ссылке
                |.
            h3 Бандажирование проводов
            p Данный способ часто применяется при соединении проводов в совокупности со скруткой или пайкой или как самостоятельный способ соединения проводов. При бандажировании отрезки проводов без изоляции накладываются друг на друга. Затем место соединения покрывается плотной обмоткой из мягкой проводящей проволоки, обеспечивающей прочное скрепление проводов между собой. Чтобы увеличить прочность проволокой дополнительно покрывается не только область соприкосновения проводов, но и небольшие отрезки вне этой области. На видео ниже вы можете посмотреть как это делается для соединения однопроволочного и многопроволочного проводов.
            iframe.pull-center(width="420" height="315" src="//www.youtube.com/embed/2nZh6x27LfM?rel=0" allowfullscreen)
            em.img-signature Бандажирование проводов
            h3 Клёпка проводов
            p В некоторых случаях провод можно присоединить к металлической поверхности при помощи металлических заклепок. Для этого можно использовать специальный инструмент – заклепочник и вытяжные заклепки. Полученное соединения является неразборным, поэтому по большей части подходит для крепления проводов заземления на заземляющую поверхность. В целом клепка проводов не очень распространена.
            iframe.pull-center(width="420" height="315" src="//www.youtube.com/embed/d6pNFrHYelU?rel=0" allowfullscreen)
            em.img-signature Работа с заклёпочником
            h3 Резьбовое соединение
            img.pull-center(src='/photos/articles/wires-and-cables/threaded_coupling.jpg' alt='Резьбовое соединение проводов' title='Резьбовое соединение проводов')
            p
                |Резьбовое соединение является одним из наиболее популярных способов соединения проводов. Это связано с простотой использования и возможностью многоразового соединения и разъединения проводов (обслуживаемое соединение). Наибольшей популярностью в бытовой и промышленной электропроводке пользуются&nbsp;
                b клеммные колодки&nbsp;
                |(клеммники). Они состоят из набора металлических пластин и винтов, позволяющих прикреплять параллельные провода в этим пластинам. Одна клеммная колодка позволяет соединить сразу несколько проводов. Существует большое разнообразие клеммных колодок, отличающихся по числу одновременно соединяемых проводов и максимально допустимому току. В некоторых случаях также используется&nbsp;
                b ответвительный сжим&nbsp;
                |, получивший за свою форму другое название - “орех”. Это устройство также имеет внутри металлическую пластину и крепежные винты, но в отличие от клеммных колодок позволяет соединять перпендикулярные провода, т.к. делать ответвление одного провода от другого.
            img.pull-center(src='/photos/articles/wires-and-cables/clamps.jpg' alt='Различные виды клемм' title='Различные виды клемм')
            em.img-signature Клеммы и штыревые втулочные наконечники
            h3 Пружинное соединение
            p
                |В последнее время большое распространение получило пружинное соединение проводов и в первую очередь&nbsp;
                b пружинные клеммы WAGO
                |. Эти клеммы имеют пружинные металлические пластины внутри пластикового корпуса и набор отверстий для проводов. Для соединения проводов достаточно вставить провод в отверстие и он будет плотно прижат пружиной. Это позволяет соединять провода вообще без какого-либо инструмента. В целом пружинные клеммы являются одноразовыми, но, приложив некоторое усилие, провода все же можно извлечь. Фотографии пружинного и некоторых других видов соединений вы можете также посмотреть в&nbsp;
                a(href='http://habrahabr.ru/post/157947/' target='_blank') этой статье
                |.