- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Заземление: виды заземления"
- attributes("keywords") = "заземление, виды заземления, защитное заземление, схема заземления, полоса по фасаду, полоса в земле, треугольник в земле, глубинный электрод, модульное заземление, электролитическое заземление"
- attributes("description") = "Наиболее распространенные виды заземления. Полоса по фасаду, треугольник в земле, глубинный электрод, модульное заземление, электролитическое заземление."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.articles
            li.active
                h1 Заземление: виды заземления
            li
                a(href='/') Главная
        p.lead Заземление является одной из важнейших проблем, возникающих при монтаже системы электроснабжения. В этой статье описаны наиболее распространенные конструкции защитного заземления, применяемые в строительстве.
.container
    .row-fluid
        .case.article.span12
            a.article-nav-left(href='/articles/wires-and-cables/connection' title='Провода и кабели: соединение')
            -#a.article-nav-right(href='/articles/wires-and-cables/marking' title='Провода и кабели: маркировка')
            h2 Зачем нужно заземление
            img.pull-right(src='/photos/articles/ground-connection/ground-connection.jpg' alt='Полосы заземления' title='Полосы заземления')
            p Заземление применяется преимущественно для двух основных целей:
            ol
                li
                    |Для правильного функционирования электроустановок (
                    b рабочее заземление
                    |). Большинство электроприборов в силу принципа действия требуют обязательного подключения определенных своих точек к земле, что отображается на электрических схемах. Для таких случаев и нужно рабочее заземление.
                li
                    |Для целей защиты человека и электроустановок от внешних воздействий.&nbsp;
                    b Защитное заземление
                    |&nbsp;нужно для подключения системы защиты от молниезащиты, системы защиты от импульсных перенапряжений (наведенных зарядов) или системы аварийного заземления, повышающего безопасность работы с электроприборами в случае аварий.
            p Эффективность заземления определяется по способности проводников, соприкасающихся с землей (заземлителей), рассеивать ток. При монтаже защитного заземления следует учитывать многие факторы, определяющие эффективность рассеивания:
            ul
                li
                    b Состав земли.
                    |&nbsp;Земля, в которую помещаются проводники, как правило представляет собой смесь различных пород: песка, глины, суглинка и так далее. Каждый из этих материалов имеет собственную удельную проводимость, поэтому знание состава земли позволяет расчитать эффективную удельную проводимость земли, используемую при проектировании заземления.
                li
                    b Температура окружающей среды.
                    |&nbsp;Важную роль в рассеивании тока, попадающего в землю, играет ее влажность, поскольку вода является отличным проводником, а значит влияет на удельную проводимость земли. При этом в зависимости от температуры окружающей среды вода может находиться в жидком или твердом (лед) состоянии, причем удельные проводимости воды и льда значительно отличаются. Вот почему при проектировании заземления так важно учитывать в каком состоянии преимущественно находится вода. Кроме того при замерзании вода расширяется и может выталкивать проводники заземления.
                li
                    b Наличие вечной мерзлоты.
                    |&nbsp;В районах, где имеется вечная мерзлота, слои земли на глубинах от 1-2 метров не тают даже летом и поэтому очень трудно поддаются механической обработке. Вот почему в таких районах затруднительно устанавливать заземление, предполагающее закапывание проводников на большую глубину.
            h2 Виды заземления
            img.pull-right(src='/photos/articles/ground-connection/multipin.png' alt='Заземление из нескольких коротких электродов' title='Заземление из нескольких коротких электродов')
            p Наиболее популярными видами заземления, применяемыми в строительстве являются:
            ol
                li Несколько коротких электродов (“полоса по фасаду” и “треугольник в земле”)
                li Глубинный электрод
                li Модульное заземление
                li Электролитическое заземление
            h3 Несколько коротких электродов
            p Наиболее старым и распространенным способом заземления является вкапывание в землю нескольких коротких (до 2 метров) вертикальных или горизонтальных электродов, соединенных между собой проводником, в которым подключается электрический щит и вывод молниезащиты дома. Поскольку площадь соприкосновения электродов с землей невелика из-за их длины, то требуется закопать множество таких электродов. Электроды закапываются в землю на расстоянии, обеспечивающем максимально эффективное стекание тока – не слишком близко и не слишком далеко друг от друга. Если электроды закопать слишком близко, то токи, стекающие по отдельным электродам будут влиять на соседние электроды и общая эффективность заземления снизится. Если электроды закапывать слишком далеко друг от друга, то для получения нужных параметров эффективности заземления потребуется сделать очень большую заземляющую конструкцию, что выйдет дороже.
            img.pull-right(src='/photos/articles/ground-connection/multipin-configurations.png' alt='Различные конфигурации заземления из нескольких коротких электродов' title='Различные конфигурации заземления из нескольких коротких электродов')
            p Традиционно в землю закапывались обычные стальные электроды без какого-либо защитного покрытия: часто металлические полосы и уголки, которые можно приобрести в любом строительном магазине. При таком подходе заземление приходится менять каждые 10-15 лет, из-за коррозии металла в почве, вызванной не только сыростью, но и электролитическими процессами, возникающими при стекании тока в землю. Более правильным подходом считается использование стальных электродов с цинковым или медным напылением. Такие электроды тормозят коррозию стали, вызванную как сыростью, так и электролизом и обеспечивают увеличенный срок службы заземления.
            p Существует несколько стандартных конфигураций заземления из коротких электродов:
            h4 Полоса по фасаду
            p Эта конфигурация предполагает закапывание в траншею на небольшом расстоянии от фасада заземляемого здания металлической заземляющей полосы, к которой подключается провод заземления. При необходимости к полосе дополнительно привариваются вертикальные отрезки и, таким образом, получается некое подобие гребёнки или расчёски. Полоса может закладываться по всему периметру здания или на одном или нескольких его отрезках, как показано на рисунках.
            h4 Треугольник в земле
            img.pull-right(src='/photos/articles/ground-connection/triangle-configuration.png' alt='Треугольник в земле' title='Треугольник в земле')
            p Данная конструкция заземления состоит трех цилиндрических проводников, вкопанных в землю и соединенных в замкнутый контур металлическими полосами в форме равностороннего треугольника. Проводники закапываются на глубину 2 – 3 метра. После этого контур соединяется со зданием.
            h3 Глубинный электрод
            p Достаточно популярным способом монтажа заземления является конструкция “глубинный электрод”. В этом случае заземление представляет собой отрезок трубы большого диаметра (например, 100 мм) и большой длины (например, 30 метров) полностью закопанный в землю в вертикальном положении. Очевидно, что для установки такого длинного отрезка в землю требуется бурение отверстия на указанную глубину специальной бурильной машиной, а затем забивание трубы отбойным инструментом. Данная конструкция обеспечивает лучшие параметры заземления, чем короткие электроды, за счет большей площади соприкосновения с землей и за счет того, что с ростом глубины земля все лучше и лучше отводит электрический ток за счет большей влажности и возможного наличия грунтовых вод. Кроме того для монтажа глубинного электрода не требуется копать длинные траншеи и параметры заземления не изменяются в зависимости от времени года за счет большой глубины погружения электрода. Недостатком данного способа является требование специального оборудования, невозможность монтажа в закрытых помещениях, в каменистой местности и в условиях вечной мерзлоты. Кроме того отсутствие покрытия на электроде дает срок службы, соизмеримый с конструкцией “несколько коротких электродов”.
            h3 Модульное заземление
            p Модульное заземление является современным развитием идеи заземления “глубинный электрод”. Основное отличие состоит в том, что глубинный электрод закапывается в землю по частям, короткими отрезками – модулями. Каждый отрезок представляет собой стальной электрод, покрытый медным напылением повышенной толщины, имеющий резьбу или возможность пресс-соединения с другими такими же отрезками. Отрезки вкапываются в землю при помощи отбойного молотка и специальной посадочной головки. На первую секцию накручивается специальный заостренный наконечник для уменьшения усилия при закапывании секции. После добавления каждой новой секции производится измерение сопротивления заземления и секции добавляются до получения необходимых параметров заземления. Более подробно о монтаже модульного заземления можно посмотреть в следующем видео:
            iframe.pull-center(width="420" height="315" src="//www.youtube.com/embed/WEbdCTJML68?rel=0" allowfullscreen)
            em.img-signature Монтаж модульного заземления
            p Модульное заземление обладает увеличенным сроком службы за счет покрытия электродов, не требует сложного оборудования для монтажа и очень быстро устанавливается. Кроме того модули, из которых собирается заземление, из-за своих небольших габаритов (длина секции - 1.5 метра) могут перевозиться в обычном автомобиле. Недостатком модульного заземления по прежнему остается невозможность монтажа в твердые грунты и в условиях вечной мерзлоты.
            h3 Электролитическое заземление
            img.pull-right(src='/photos/articles/ground-connection/electrolytic.png' alt='Электролитическое заземление' title='Электролитическое заземление')
            p Электролитическое заземление – современный инструмент, решающий проблему эффективности заземления в условиях твердых почв или вечной мерзлоты. Основным принципом действия электролитического заземления является искусственное добавление в почву электролита (растворов солей), увеличивающего проводимость почвы и, следовательно, эффективность заземления. Конструктивно такое заземление выполняется в виде полой стальной трубы, изогнутой в форме латинской буквы L с просверленными отверстиями по всей длине трубы. Длина трубы обычно составляет 2 – 3 метра и закапывается она на небольшую глубину (до 2 метров).  Внутрь трубы засыпается электролит - смесь солей, растворение которых увеличивает проводимость земли. Вокруг электролита также засыпается специальный заполнитель, уменьшающий скорость вымывания электролита из электрода и увеличивающий площадь контакта электролита с землей. На поверхности земли устанавливается смотровой люк,  для контроля количества электролита. Электролитическое заземление дозаправляется электролитом каждые 10-15 лет и типичный срок службы электрода в таком случае может составлять несколько десятков лет. Данное решение имеет массу преимуществ – простота монтажа, дешевое обслуживание, слабая зависимость параметров заземления от времени года, высокая эффективность. Главными недостатками следует считать достаточно высокую стоимость (около 60 000 рублей) и необходимость монтажа вне фундамента (уменьшает прочность грунта).