- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Провода и кабели: маркировка"
- attributes("keywords") = "маркировка кабелей и проводов, маркировка проводов и кабелей гост, цветовая маркировка проводов и кабелей, расшифровка маркировки кабелей и проводов, климатическое исполнение кабеля, классы нагревостойкости, DIN VDE, электронный маркер"
- attributes("description") = "Маркировка проводов, кабелей и электрических шнуров. Стандарты ГОСТ и DIN VDE. Климатическое исполнение. Классы нагревостойкости."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.articles
            li.active
                h1 Провода и кабели: маркировка
            li
                a(href='/') Главная
        p.lead Сегодня промышленность выпускает сотни и тысячи видов проводов и кабелей, различающихся по назначению и параметрам. В этой статье мы рассмотрим способы и условные обозначения, применяемые при маркировке проводов и кабелей.
.container
    .row-fluid
        .case.article.span12
            a.article-nav-left(href='/articles/wires-and-cables/classification' title='Провода и кабели: классификация')
            a.article-nav-right(href='/articles/wires-and-cables/connection' title='Провода и кабели: соединение')
            h2 Зачем нужна маркировка
            p Под маркировкой кабелей понимается нанесение различных меток и условных обозначений на провода и кабели, позволяющее определить следующие параметры кабеля или провода:
            ul
                li Технические параметры (толщина сечения, материал изоляции, тип экрана и т.п.)
                li Область применения (передача электрической энергии или информационного сигнала)
                li Назначение конкретного кабеля (например, кабель освещения)
                li Местоположение кабеля под землей (электронная маркировка)
            h2 Способы маркировки
            img.pull-right(src='/photos/articles/wires-and-cables/stickers.jpg' alt='Этикетки на телекоммуникационных кабелях' title='Этикетки на телекоммуникационных кабелях')
            h3 Заводская маркировка
            p Приведенные ниже способы применяются изготовителями кабели и являются общеизвестными.
            ul
                li
                    b Цветовая маркировка.&nbsp;
                    |Например, для многожильных кабелей отдельные жилы могут иметь изоляцию разного цвета, что позволяет однозначно различать роль каждой из жил. В каждой стране существует свой стандарт цветовой маркировки кабелей, которому следуют местные производители кабельной продукции.
                li
                    b Цифро-буквенная маркировка.&nbsp;
                    |Как правило наносится заводом-изготовителем на внешнюю изоляцию кабеля и содержит информацию о числе жил, их сечении, типе изоляции жил, типе внешней изоляции и других свойствах кабеля (например, пониженное дымовыделение или негорючесть изоляции).
            h3 Самостоятельная маркировка
            p При прокладке проводов и кабелей организацией дополнительно применятся собственная система обозначений, позволяющая впоследствии проще разбираться в назначении того или иного кабеля или в способе его прокладки. Система может включать:
            ul
                li
                    b Надпись несмывающимся маркером на изоляции провода.&nbsp;
                    |Наиболее примитивный способ, применяющийся при небольшом числе прокладываемых кабелей.
                li
                    b Самоклеющаяся лента с текстом.&nbsp;
                    |Позволяет помечать кабели произвольными метками, которые могут изготавливаться на месте прокладки специальной машиной для холодного тиснения или переносным термопринтером.
                li
                    b Пластиковые кольца (клипсы).&nbsp;
                    |Надеваются на изоляцию кабеля. Имеют различные цвета и символы нанесенные на внешнюю сторону кольца. Используя последовательно несколько колец с цифрами и буквами, становится возможным использовать собственную систему обозначений для каждого кабеля.
                li
                    b Кольцевые этикетки с бумажной вставкой.&nbsp;
                    |Представляют собой пластиковый цилиндр, содержащий внутри бумажную вставку, на которой может быть написан произвольный текст.
                li
                    b Липкие флажки. Самоламинирующаяся пленка.&nbsp;
                    |Быстро наклеиваемая липкая пленка, на которую может быть нанесен произвольный текст. В случае самоламинирующейся пленки липкая лента имеет 2 области: матовую, на которую наносится текст, и прозрачную, которая наклеивается вторым слоем вокруг кабеля и надежно защищает маркировку от внешних воздействий.
                li
                    b Шильдики.&nbsp;
                    |Металлические или пластиковые бирки с выбитым или написанным текстом, прикрепляемые к изоляции кабеля металлическим или пластиковым хомутом.
                li
                    b Электронные маркеры.&nbsp;
                    |Применяются для быстрого нахождения кабеля, замурованного в стене или проложенного под землей. Представляют собой пластиковую трубку или шар, внутри которого содержится металлический колебательный контур, настроенный на строго определенную резонансную частоту (как правило, десятки и сотни килогерц). Такие маркеры закладываются в непосредственной близости от проложенного кабеля при его монтаже. Для поиска кабеля требуется специальный прибор – маркероискатель. Этот прибор излучает радиосигнал на резонансной частоте маркера и посылает его на отрезок поверхности, где происходит поиск кабеля. Если маркер, находится на этом отрезке, то колебательный контур входит в резонанс и переизлучает радиосигнал в сторону маркероискателя, что фиксируется прибором. Шарообразная форма маркера позволяет получить сферическую диаграмму направленности излучения, т.е. радиосигнал переизлучается во все стороны с одинаковой силой. Это позволяет не задумываться о расположении маркера при его закладывании. Так как зачастую в одном месте могут быть проложены кабели различного назначения, электронные маркеры, для разных типов кабелей имеют разную резонансную частоту и цвет, что позволяет закладывать их в одном и том же месте одновременно.
            h2 Цифро-буквенная маркировка
            p В этом разделе мы рассмотрим 2 наиболее популярных вида цифро-буквенной маркировки, наиболее распространенных в нашей стране: отечественная система маркировки ГОСТ и немецкая система маркировки DIN VDE.
            h3 Отечественная маркировка
            img.pull-center(src='/photos/articles/wires-and-cables/russian_marking.png' alt='Маркировка проводов отечественного производства' title='Маркировка проводов отечественного производства')
            em.img-signature Маркировка проводов отечественного производства
            p Маркировка кабелей и проводов отечественного производства согласно ГОСТ 26445-85 и ГОСТ 18410-73 может содержать следующую информацию:
            table(class='table table-striped table-bordered table-bordered-custom')
                thead
                    tr
                        th(title='Каким по порядку указывается тот или иной параметр на картинке выше') Позиция на картинке
                        th(title='Название параметра') Параметр
                        th(title='Возможные значения параметра') Возможные значения
                tbody
                    tr
                        td 1
                        td Провод, кабель или шнур
                        td
                            |Без обозначения или К - кабель
                            br
                            |П – провод
                            br
                            |Ш – шнур
                    tr
                        td 2
                        td Назначение
                        td
                            |Н - нагревательный
                            br
                            |ПС – пожарная сигнализация
                            br
                            |СП – системы передачи
                            br
                            |УН - универсальный
                    tr
                        td 3
                        td Степень гибкости
                        td
                            |Без обозначения – нормальной гибкости
                            br
                            |Г – гибкий
                            br
                            |ОГ – очень гибкий
                    tr
                        td 4
                        td Текучесть изоляционного пропиточного состава (для кабеля)
                        td
                            |Без обозначения – вязкий состав
                            br
                            |Ц – нестекающий состав (для прокладки вертикально и под наклоном)
                    tr
                        td 5
                        td Материал жил
                        td
                            |Без обозначения - медные
                            br
                            |А – алюминиевые
                            br
                            |АМ – алюмомедные
                            br
                            |АС - алюминиево-стальные
                            br
                            |Л – медные луженые
                            br
                            |Н – нихромовые
                            br
                            |С – стальные оцинкованые
                    tr
                        td 6
                        td Материал оболочки
                        td
                            |А – алюминиевая оболочка
                            br
                            |С – свинцовая оболочка
                            br
                            |О – отдельные оболочки вокруг каждой жилы
                    tr
                        td 7
                        td Материал изоляции жил
                        td
                            |Б – бумажная пропитанная
                            br
                            |В - поливинилхлоридная
                            br
                            |П – полиэтиленовая
                            br
                            |Пв – из вулканизированного полиэтилена
                            br
                            |Пс – из самозатухающего полиэтилена
                            br
                            |ПЛ - пленочная
                            br
                            |Р – резиновая
                            br
                            |РН - резиновая, не распространяющая горения
                            br
                            |РМ - резиновая морозостойкая
                            br
                            |РТ - резиновая теплостойкая
                            br
                            |РИ - изоляционно-защитная резиновая оболочка
                            br
                            |Ф – фторопластовая
                            br
                            |Ш - шелковая
                    tr
                        td 8
                        td Материал оболочки (защитного покрова)
                        td
                            |Б – броня из стальной ленты
                            br
                            |Бн – броня с негорючим защитным покровом
                            br
                            |Г – нет защитного покрова вокруг брони или оболочки
                            br
                            |К – броня из круглых стальных оцинкованых проволок
                            br
                            |Ка – броня из круглых алюминивых проволок
                            br
                            |л – наличие подушки из ПВХ шланга
                            br
                            |2л – наличие подушки из полиэтиленового шланга
                            br
                            |М - маслонаполненный
                            br
                            |О – наличие обмотки из натуральных или синтетических нитей
                            br
                            |П – броня из плоских проволок
                            br
                            |Т – наличие несущего троса
                            br
                            |Шв – наличие защитного покрова из ПВХ шланга
                            br
                            |Шп – наличие защитного покрова из политеэтиленового шланга
                            br
                            |Э – наличие экрана
                    tr
                        td 9
                        td Форма (для провода или шнура)
                        td
                            |Без обозначения – круглый
                            br
                            |П – плоский
                            br
                            |С - спиральный
            p Маркировка любого кабеля или провода всегда содержит информацию о материале жил, изоляции и оболочки, если таковая имеется. Рассмотрим некоторые примеры маркировки проводов и кабелей (без указания числа жил и рабочего напряжения):
            img.pull-left(src='/photos/articles/wires-and-cables/cable.jpg' alt='Внутреннее строение кабеля' title='Внутреннее строение кабеля')
            ul
                li
                    |Кабель&nbsp;
                    b ААБ2лШв&nbsp;
                    |– алюминиевые жилы в алюминиевой оболочке с броней, подушкой из полиэтиленового шланга и защитным покровом из ПВХ и пропиткой из вязкого (текучего) состава
                li
                    |Кабель&nbsp;
                    b ЦОСБГ&nbsp;
                    |– кабель с медными жилами, свинцовыми оболочками вокруг каждой из жил и броней и без защитного покрова
                li
                    |Шнур&nbsp;
                    b ШВВП&nbsp;
                    |– шнур с медными жилами с ПВХ изоляцией в ПВХ оболочке, плоский
                li
                    |Кабель&nbsp;
                    b ВВГ&nbsp;
                    |– кабель с медными жилами с ПВХ изоляцией и ПВХ оболочкой
            h4 Климатическое исполнение
            p Провода и кабеля могут эксплуатироваться в различных климатических условиях: умеренных, очень холодных или очень теплых. Для того, чтобы различить варианты исполнения кабеля под разных условия через дефис может указываться обозначение климатического исполнения согласно ГОСТ 15150-69. Обозначение как правило состоит из одной буквы и одной цифры, соответствующих климатическим условиям и категории размещения кабеля или провода. Выделяют следующие виды климатического исполнения:
            table(class='table table-striped table-bordered table-bordered-custom')
                thead
                    tr
                        th(title='Обозначение климатического исполнения') Обозначение
                        th(title='Название климатического исполнения') Название
                tbody
                    tr
                        td В
                        td Всеклиматическое исполнение (на суше и на море кроме очень холодного климата)
                    tr
                        td М
                        td Умеренно холодный морской климат
                    tr
                        td О
                        td Общеклиматическое исполнение на суше (на суше, реках, озера в любом климате кроме очень холодного)
                    tr
                        td ОМ
                        td Общеклиматическое исполнение на море (любое морское климатическое исполнение)
                    tr
                        td Т
                        td Сухой и влажный тропический климат
                    tr
                        td ТВ
                        td Влажный тропический климат
                    tr
                        td ТМ
                        td Тропический морской климат
                    tr
                        td ТС
                        td Сухой тропический климат
                    tr
                        td У
                        td Умеренный климат
                    tr
                        td УХЛ
                        td Умеренный и холодный климат
            br
            p Категория размещения обозначает в каких условиях окружающей среды должен использоваться данный провод или кабель. Имеющиеся категории размещения провода приведены в таблице:
            table(class='table table-striped table-bordered table-bordered-custom')
                thead
                    tr
                        th(title='Обозначение категории размещения') Обозначение
                        th(title='Описание категории размещения') Описание
                tbody
                    tr
                        td 1 или 1.1
                        td На открытом воздухе
                    tr
                        td 2 или 2.1
                        td Под навесом, в палатках, кузовах, прицепах (те же температуры и влажность, что на открытом воздухе, но отсутствует попадание прямых солнечных лучей и атмосферных осадков)
                    tr
                        td 3 или 3.1
                        td В закрытых помещениях с естественной вентиляцией (нет прямых солнечных лучей, не попадает песок и пыль, нет осадков, не конденсируется влага)
                    tr
                        td 4, включает 4.1 и 4.2
                        td
                            |4.1 – помещения с искусственно регулируемой температурой воздуха (закрытые отапливаемые, охлаждаемые и вентилируемые помещения)
                            br
                            |4.2 – лабораторные, капитальные жилые и другие подобные помещения
                    tr
                        td 5 или 5.1
                        td Помещения с повышенной влажностью (корабли, шахты, подвалы, почва, цеха некоторых производств)
            h4 Класс нагревостойкости изоляции
            p Классом нагревостойкости изоляции называется совокупность всех видов изоляции, сохраняющих свои изолирующие свойства при заданной рабочей температуре. Стандартами ГОСТ 8865-93 (МЭК 85-84) определены следующие классы нагревостойкости:
            table(class='table table-striped table-bordered table-bordered-custom')
                thead
                    tr
                        th(title='Обозначение класса нагревостойкости') Обозначение
                        th(title='Рабочая температура') Температура, &deg;С
                tbody
                    tr
                        td Y
                        td 90
                    tr
                        td A
                        td 105
                    tr
                        td E
                        td 120
                    tr
                        td B
                        td 130
                    tr
                        td F
                        td 155
                    tr
                        td H
                        td 180
                    tr
                        td 200
                        td 200
                    tr
                        td 220
                        td 220
                    tr
                        td 250
                        td 250
            br
            p Дальнейшее повышение рабочей температуры происходит с шагом в 25&deg;С. Иногда нагревостойкость с температурой выше 180&deg;С называют классом C.
            img.pull-right(src='/photos/articles/wires-and-cables/marking.jpg' alt='Маркировка проводов и кабелей' title='Маркировка проводов и кабелей')
            h4 Другие параметры
            p При маркировке после буквенного обозначения марки кабеля обычно ставится набор цифр, описывающих количество основных жил, жил заземления и вспомогательных жил, площадь их поперечного сечения, рабочее напряжение, цвет и класс нагревостойкости изоляции. Например: ПВС 3x1.5 660 H – провод марки ПВС с тремя жилами сечением 1.5 мм<sup>2</sup>, расчитанный на рабочее напряжение 660 В с классом нагревостойкости H.
            h3 Немецкая система маркировки DIN VDE
            p Немецкая система маркировки следует стандартам DIN VDE 0281, DIN VDE 0282, DIN VDE 0292 и DIN VDE 0293-308. В целом способ маркировки проводов и кабелей аналогичен отечественному стандарту, поэтому сразу приведем таблицу с используемыми обозначениями:
            table(class='table table-striped table-bordered table-bordered-custom')
                thead
                    tr
                        th(title='Каким по порядку указывается тот или иной параметр') Позиция
                        th(title='Название параметра') Параметр
                        th(title='Возможные значения параметра') Возможные значения
                tbody
                    tr
                        td 1
                        td Обозначение национального стандарта DIN VDE
                        td N – всегда ставится на первом месте
                    tr
                        td 2
                        td Маркировка проводов (только для проводов)
                        td
                            |A – алюминиевые проводники (по-умолчанию – медные)
                            br
                            |B – свинцовая оболочка
                            br
                            |C – концентрические или экранированные проводники
                            br
                            |D – тройной провод
                            br
                            |F – гибкий кабель или плоские жилы
                            br
                            |G – резиновая изоляция
                            br
                            |2-G – каучуковая изоляция
                            br
                            |H – наличие оболочки
                            br
                            |I – для скрытой проводки (укладка в гипсе)
                            br
                            |K – наличие защиты от коррозии
                            br
                            |L – для легких механических напряжений (укладка в трубах)
                            br
                            |M – наличие защитной оболочки проводов или возможность средних механических нагрузок
                            br
                            |Ö – маслостойкий
                            br
                            |P – наличие бумажной изоляции или оберточной бумаги
                            br
                            |R – гофрированная оболочка
                            br
                            |S – для большой механической нагрузки
                            br
                            |T – наличие троса
                            br
                            |U – огнестойкий
                            br
                            |V – монтажный провод
                            br
                            |W – устойчивый против атмосферных осадков
                            br
                            |Y – ПВХ изоляция
                            br
                            |Z – цинковая оболочка
                    tr
                        td 2
                        td Маркировка кабелей (только для кабелей)
                        td
                            |A – алюминиевые жилы или оболочка из джута
                            br
                            |B – стальная броня
                            br
                            |C – экран из медной оплетки
                            br
                            |CW – экран из гофрированной медной оплетки
                            br
                            |D – наличие защитного покрова из металлических полос
                            br
                            |E – экранирование каждого проводника по отдельности
                            br
                            |F – плоские жилы
                            br
                            |FL – огнестойкий
                            br
                            |G – наличие стальной спиральной оболочки
                            br
                            |H – высоковольтный кабель с металлическим экраном одножильный
                            br
                            |K – свинцовая оболочка
                            br
                            |L – алюминиевая оболочка
                            br
                            |O – оболочка из стальных проволок
                            br
                            |Ö – маслонаполненный кабель
                            br
                            |Q – оболочка из оцинкованной проволоки
                            br
                            |R – антикоррозийное покрытие
                            br
                            |S – наличие медного экрана
                            br
                            |SE – высоковольтный многожильный кабель с экранированием для каждой жилы
                            br
                            |U – немагнитный
                            br
                            |W – термостойкий
                            br
                            |WK – стальная оболочка
                            br
                            |2X – полиэтиленовая изоляция
                            br
                            |Y – ПВХ-изоляция или оболочка
                            br
                            |2Y – изоляция или оболочка из термопластичного полиэтилена
                            br
                            |4Y – изоляция или оболочка из полиамида
                    tr
                        td 3
                        td Поперечное сечение и число проводников
                        td
                            |4x1.5 – 4 провода сечением 1.5 мм<sup>2</sup>
                            br
                            |4G1.5 – 4 провода сечением 1.5 мм<sup>2</sup>, один из которых защитный желто-зеленого цвета
                    tr
                        td 4
                        td Форма проводников
                        td
                            |RE – круглая однопроволочная жила
                            br
                            |RF – круглая тонкопроволочная жила
                            br
                            |RM - круглая многопроволочная жила
                            br
                            |SE – однопроволочная жила секторной формы (для кабелей)
                            br
                            |SM – многопроволочная жила секторной формы (для кабелей)
                    tr
                        td 5
                        td Наличие защитного провода (через дефис)
                        td
                            |-J – защитный провод зелено-желтого цвета
                            br
                            |-O – защитный провод отсутствует
            p
                |Например, распространенный провод&nbsp;
                b NYM&nbsp;
                |– это провод по немецкому стандарту (N) с ПВХ-изоляцией (Y) и защитной оболочкой проводов (M).