- import ru.meridor.website.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.website.util.StringUtils._
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("title") = "Установка посудомоечной машины"
- attributes("keywords") = "установка посудомоечной машины, подключение посудомоечной машины, посудомоечная машина, виды посудомоечных машин"
- attributes("description") = "Виды посудомоечных машин. Установка посудомоечной машины: этапы работ, типичные расценки."
- render(
-   "common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "orderFormAdditionalData" -> ad.DishWashingMachine,
-       "mainHeader" -> "Установка посудомоечной машины",
-       "applianceTypesHeader" -> "Виды и марки посудомоечных машин",
-       "applianceTypesParagraph" -> prepareMultilineString("""Различают посудомоечные машины **отдельно стоящие**, **полностью встраиваемые** и **частично встраиваемые**. Полностью встраиваемые посудомоечные машины позволяют вам закрепить на дверце декоративную панель (фасад) в цвет кухонного гарнитура. Такая машина полностью сливается с вашей кухней. Другие модели посудомоечных машин позволяют лишь частично изменять декоративные элементы лицевой панели либо не позволяют этого вообще.
- |Вторым важнейшим параметром посудомоечной машины является ее **вместимость**, определяемая в комплектах посуды. Комплектом посуды – это набор столовых приборов, требующихся одному человеку. В набор входят: тарелка для салата, для первого блюда, для второго блюда, для хлеба, чашка или блюдце, две ложки или вилки. В зависимости от модели посудомоечная машина за раз может вмещать от 4 до 17 комплектов посуды. Настольные посудомоечные машины как правило вмещают до 5 комплектов, напольные машины обычной емкости – 9 или 10 комплектов, а напольные машины повышенной емкости – от 12 и более комплектов.
- |Кроме этого следует обратить внимание на **класс энергопотребления**, **класс мойки** и **класс сушки** посуды. Класс мойки определяет максимальный размер загрязнений, остающихся на посуде по окончание мойки: от незначительных загрязнений до их полного отсутствия. Класс сушки в свою очередь определяется максимальным размером капель воды, остающихся на высушенной посуде. Если вы хотите получать идеально сухую посуду – выбирайте класс повыше. В целом посудомоечные машины здорово экономят воду: если при ручной мойке посуды вы расходуете несколько литров воды в минуту и несколько десятков литров в день, то посудомоечная машина среднего размера расходует около 20 литров воды за раз. Для экономии электричества вы можете запускать мойку посуды по таймеру ночью, когда электричество стоит дешевле.
- |Наиболее известными производителями посудомоечных машин являются:
- |* [Bosch](http://www.bosch.ru/)
- |* [Electrolux](http://www.electrolux.ru/)
- |* [Hansa](http://www.hansa-russia.ru/)
- |* [Hotpoint-Ariston](http://www.hotpoint-ariston.ru/)
- |* [Indesit](http://www.indesit.ru/)
- |* [NEFF](http://www.neff.ru/)
- |* [Samsung](http://www.samsung.com/ru/)
- |* [Siemens](http://www.siemens.ru/)
- |* [Whirlpool](http://www.whirlpool.ru/)
- |* [Zanussi](http://www.zanussi.ru/)"""),
-       "applianceTypesImgSrc" -> "/photos/services/electrical-appliances/dishwashing-machine.jpg",
-       "connectionPriceHeader" -> "Стоимость подключения посудомоечной машины",
-       "connectionPriceParagraph" -> prepareMultilineString("""Для безопасной работы посудомоечная машина должна быть правильно подключена к электрической сети, водопроводу и канализации. Посуда моется струями горячей воды и пара, которые подогреваются при помощи термоэлектрических нагревателей (ТЭН). Эти нагреватели потребляют большую электрическую мощность (около 1 КВт/час), вот почему посудомоечные машины подключаются проводами увеличенного поперечного сечения, расчет которого производится индивидуально. Также посудомоечная машина подсоединяется к водопроводу и канализации резиновыми шлангами, через которые циркулирует вода.
- |Подключение посудомоечной машины состоит из следующих этапов:""")
-   )
- )