- import ru.meridor.website.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.website.util.StringUtils._
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("title") = "Установка электроплиты"
- attributes("keywords") = "установка электроплиты, установка электрической плиты, электроплита, электрическая плита, подключение электрической плиты"
- attributes("description") = "Виды электроплит. Установка электроплиты: этапы работ, типичные расценки."
- render(
-   "common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "orderFormAdditionalData" -> ad.ElectricRange,
-       "mainHeader" -> "Установка электроплиты",
-       "applianceTypesHeader" -> "Виды и марки электроплит",
-       "applianceTypesParagraph" -> prepareMultilineString("""**Электрическая плита** - это варочная панель и духовой шкаф “в одном флаконе”, вот почему существующее разнообразие электроплит – это просто комбинации различных типов варочных панелей и духовых шкафов.
- |Конфорки электроплиты могут быть **обычные спиральные**, **галогеновые** или **индукционные**. Галогеновые конфорки используют галогеновую лампу и электрические спирали для разогрева рабочей поверхности. Сейчас – это наиболее распространенный тип конфорок. Более современные индукционные конфорки не греются сами, а лишь разогревают дно металлической посуды переменным магнитным полем. Однако их распространение ограничено высокой ценой и невозможностью использовать алюминиевую, керамическую или стеклянную посуду для приготовления блюд. В качестве дополнительной функции может присутствовать индикатор остаточного тепла, показывающий после выключения конфорки, что она еще теплая. Это особенно важно для безопасной работы с галогеновыми конфорками, так как после выключения они не продолжают светиться красным светом, как это происходит у обычных спиральных конфорок. В качестве рабочей поверхности в современных электроплитах может выступать эмалированная поверхность, нержавеющая сталь или стеклокерамическая поверхность. Большинство советских электроплит выполнялись с эмалированной поверхностью. Такая поверхность может иметь практически любую расцветку и легко чистится. Не менее практичной является поверхность из нержавеющей стали. Однако, наибольшей популярностью сейчас пользуется стеклокерамика – матовое стекло темного цвета, под которым размещаются конфорки. На горячую стеклокерамику не рекомендуется попадание сахара и воды. Поверхность чистится специальным металлическим скребком, идущим в комплекте.
- |Духовой шкаф электроплиты может обладать функцией конвекции и гриля. Конвекция – обдув изделий горячим воздухом, позволяющая получать более пышную выпечку и лучше пропеченое мясо. Гриль – дополнительный нагревательный элемент в верхней части духовки, позволяющий готовить мясо, рыбу или овощи без добавления масла.
- |Наиболее известные производители электроплит:
- |* [BEKO](http://www.beko.ru/)
- |* [Bosch](http://www.bosch.ru/)
- |* [Electrolux](http://www.electrolux.ru/)
- |* [GEFEST](http://gefest.by/)
- |* [Gorenje](http://www.gorenje.ru/)
- |* [Hansa](http://www.hansa-russia.ru/)
- |* [Hotpoint-Ariston](http://www.hotpoint-ariston.ru/)
- |* [Indesit](http://www.indesit.ru/)
- |* [Zanussi](http://www.zanussi.ru/)"""),
-       "applianceTypesImgSrc" -> "/photos/services/electrical-appliances/electric-range.jpg",
-       "connectionPriceHeader" -> "Стоимость подключения электроплиты",
-       "connectionPriceParagraph" -> "Для безопасной работы электроплита должна быть правильно подключена к электрической сети. Подключение электроплиты включает:"
-   )
- )