- import ru.meridor.website.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.website.util.StringUtils._
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
- attributes("title") = "Установка электрического духового шкафа"
- attributes("keywords") = "установка электрического духового шкафа, подключение электрического духового шкафа, электрический духовой шкаф, виды электрических духовых шкафов"
- attributes("description") = "Виды электрических духовых шкафов. Установка электрического духового шкафа: этапы работ, типичные расценки."
- render(
-   "common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "orderFormAdditionalData" -> ad.Oven,
-       "mainHeader" -> "Установка электрического духового шкафа",
-       "applianceTypesHeader" -> "Виды и марки электрических духовых шкафов",
-       "applianceTypesParagraph" -> prepareMultilineString("""Ассортимент электрических духовых шкафов сегодня отличается большим разнообразием.  Электрические духовые шкафы в первую очередь разделяются на **зависимые** и **независимые**. Зависимые духовые шкафы смонтированы в одном корпусе с варочной поверхностью и обладают общими элементами управления (фактически это обычная электроплита). Независимые духовые шкафы могут устанавливаться независимо от варочной поверхности (она приобретается отдельно). Купив такой духовой шкаф, вы можете установить его в одном углу кухни, а варочную поверхность с конфорками – в другом углу.
- |При покупке электрического духового шкафа также важно знать поддерживает ли выбранная модель **режим конвекции**, т.е. имеет ли он вентилятор, создающий более равномерное распределение нагретого воздуха, позволяющее получать равномерно пропеченые блюда и пышную выпечку. Некоторые модели также имеют встроенный **гриль** – нагревательный элемент, создающий красивую корочку на мясе, рыбе, овощах и так далее. Гриль незаменим, если вы любите готовить стейки, запеканки или тосты. Также существуют модификации духовых шкафов со встроенной микроволновой печью, позволяющей подогревать готовые блюда, а также с функцией приготовления блюд на пару. Если вы планируете встраивать духовой шкаф в кухонный гарнитур, то следует выбирать из встраиваемых моделей и учитывать его габаритные размеры и объем.
- |Наиболее известные производители духовых шкафов:
- |* [BEKO](http://www.beko.ru/)
- |* [Bosch](http://www.bosch.ru/)
- |* [Electrolux](http://www.electrolux.ru/)
- |* [Fornelli](http://fornelli.ru/)
- |* [Gorenje](http://www.gorenje.ru/)
- |* [Hansa](http://www.hansa-russia.ru/)
- |* [Hotpoint-Ariston](http://www.hotpoint-ariston.ru/)
- |* [Korting](http://korting.ru/)
- |* [NEFF](http://www.neff.ru/)
- |* [Samsung](http://www.samsung.com/ru/)
- |* [Siemens](http://www.siemens.ru/)
- |* [Zanussi](http://www.zanussi.ru/)"""),
-       "applianceTypesImgSrc" -> "/photos/services/electrical-appliances/oven.jpg",
-       "connectionPriceHeader" -> "Стоимость подключения электрического духового шкафа",
-       "connectionPriceParagraph" -> "Для безопасной работы электрический духовой шкаф должен быть правильно подключен к электрической сети. Вы могли заметить, что даже старые советские электрические плиты подключаются к сети отдельным толстым проводом и к специальной розетке большого размера. Кроме того в распределительном щите для духового шкафа устанавливается отдельный “автомат” (устройство защитного отключения), срабатывающий при значительно большем токе, чем аналогичные автоматы для остальной электроводки. Если вы купили себе духовой шкаф вместо старой электроплиты, то мы настоятельно рекомендуем заменить электропроводку и автоматы. Таким образом подключение духового шкафа включает:"
-   )
- )