- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Калининском",
-       "districtTitleNominative" -> "Калининский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи одной из следующих станций метро: Академическая, Гражданский проспект, Площадь Мужества, Площадь Ленина, Политехническая",
-       "additionalText" -> "Калининский район тянется от правого берега Невы на юге до Суздальского проспекта и кольцевой автодороги на севере, на западе граничит с Выборгским районом, на востоке - с Красногвардейским. На юге района преимущественно преобладают промышленные предприятия дореволюционной и советской постройки. Северная часть района застроена многоэтажными домами: пятиэтажками 60-х и 70-х годов вблизи станций метро Политехническая и Академическая, а также множеством современных жилых комплексов неподалеку от станции метро Гражданский проспект. Также на севере района присутствуют вкрапления дореволюционной застройки, например, большую площадь занимает Политехнический Университет.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Калининского района\" (ГУ ЖА Калининского района) и другие учреждения" -> "http://gov.spb.ru/gov/terr/reg_kalinin/podvedomstvennye-uchrezhdeniya/", "Управляющие компании Калининского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=96")
-   )
- )