- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Колпинском",
-       "districtTitleNominative" -> "Колпинский",
-       "possibleLocations" -> "в Санкт-Петербурге в городе Колпино или в поселках Металлострой, Усть-Ижора, Саперный, Понтонный, Петро-Славянка",
-       "additionalText" -> "Колпинский район - пригородный по отношению к основной части Санкт-Петербурга, вот почему доля частных домов здесь несравнимо выше. Город Колпино имеет почти трехсотлетнюю историю, вот почему здесь можно найти дома царской постройки. Тем не менее основной жилой массив города - постройки послевоенного времени, поскольку во время Великой Отечественной войны около 90% домов было уничтожено. Имеются дома из шлакоблоков, сталинской постройки (в районе железнодорожного вокзала), пятиэтажки-\"хрущевки\", и девятиэтажные панельные дома. В настоящее время в Колпинском районе идет активное строительство новых малоэтажных и многоэтажных жилых комплексов.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Колпинского района\" (ГУ ЖА Колпинского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=9&Itemid=100", "Управляющие компании Колпинского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=98&Itemid=100")
-   )
- )