- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Московском",
-       "districtTitleNominative" -> "Московский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи станций метро Московские ворота, Электросила, Парк Победы, Московская, Звёздная или Купчино",
-       "additionalText" -> "Московский район вытянут с севера на юг вдоль Московского проспекта и Пулковского шоссе, поэтому при движении в сторону окраин жилые дома становятся все более и более новыми. Если район станций метро Фрунзенская, Московские ворота и Электросила преимущественно застроен сталинскими и дореволюционными домамми со всеми вытекающими проблемами электроснабжения, то на небольшом удалении от метро Парк Победы можно встретить кварталы панельных пятиэтажек, а вблизи от метро Московская, Звездная или Купчино возвышаются многоэтажки советского периода и современной постройки.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Московского района\" (ГУ ЖА Московского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=14&Itemid=100", "Управляющие компании Московского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=103&Itemid=100")
-   )
- )