- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Петроградском",
-       "districtTitleNominative" -> "Петроградский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи станций метро Спортивная, Чкаловская, Крестовский остров, Горьковская, Петроградская",
-       "additionalText" -> "Петроградский район располагается на островах: Петроградском, Аптекарском, Петровском, Крестовском, Каменном и Елагином. Район отличается большим разнообразием построек. Например, Петроградский остров и большая часть Аптекарского острова преимущественно застроены домами дореволюционной постройки, Петровский остров - промышленными предприятиями и другими нежилыми строениями. Восточная часть Крестовского острова и часть Аптекарского острова вдоль Песочной набережной застроены элитными домами небольшой этажности. Каменный остров в основном занят очень дорогими частными домами.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Петроградского района\" (ГУ ЖА Петроградского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=16&Itemid=100", "Управляющие компании Петроградского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=105&Itemid=100")
-   )
- )