- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Петродворцовом",
-       "districtTitleNominative" -> "Петродворцовый",
-       "possibleLocations" -> "в городе Петродворец, Ломоносов или в посёлке Стрельна",
-       "additionalText" -> "Петродворцовый район и по сей день остается типичным пригородным районом Санкт-Петербурга. Здесь очень много частных домов, а в Петродворце и Ломоносове многоквартирные дома имеют небольшую этажность (5 или 9 этажей). В основном преобладают дома дореволюционной построки, кирпичные пятиэтажки 60-х годов и девятиэтажки 70-х и 80-х годов.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Петродворцового района\" (ГУ ЖА Петродворцового района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=17&Itemid=100", "Управляющие компании Петродворцового района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=106&Itemid=100")
-   )
- )