- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Приморском",
-       "districtTitleNominative" -> "Приморский",
-       "possibleLocations" -> "в Санкт-Петербурге вблизи станций метро Черная Речка, Пионерская, Старая Деревня, Комендантский проспект, в районе Коломяги, в поселках Лахта, Ольгино и Лисий Нос",
-       "additionalText" -> "Приморский район по возрасту жилых построек является очень молодым районом. Самые ранние дома располагаются в районе бывшего Комендантского аэродрома (метро Пионерская) или в районе Ланского шоссе (метро Черная речка). На улице Савушкина также имеется большое количество т.н. \"немецких коттеджей\" - малоквартирных домов 40-х и 50-х годов постройки, многие из которых строили пленные немцы. При движении на запад в сторону Сестрорецка этажность застройки растет - большинство домов имеют по 16 или 25 этажей и были построены в 90-е годы и позднее. В районе Приморского шоссе (поселки Лахта, Ольгино и Лисий нос) преобладает в основном частная малоэтажная застройка, а большие площади между КАД и Приморским шоссе в настоящее время активно застраиваются.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Приморского района\" (ГУ ЖА Приморского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=18&Itemid=100", "Управляющие компании Приморского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=107&Itemid=100")
-   )
- )