- import ru.meridor.website.db.entities.{Service, ServiceGroup}
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- render(
-   "../common_template.jade",
-   Map(
-       "servicesMap" -> servicesMap,
-       "districtTitle" -> "Пушкинском",
-       "districtTitleNominative" -> "Пушкинский",
-       "possibleLocations" -> "в городе Пушкин, Павловск, посёлках Александровская, Тярлево, Шушары",
-       "additionalText" -> "Города Пушкин и Павловск в основном застроены дореволюционными домами, кирпичными и панельными пятиэтажками 60-х годов, а также частными домами. Активная застройка домами большой этажности в настоящее время ведется в поселке Шушары.",
-       "organizations" -> Map("СПб ГУ \"Жилищное агентство Пушкинского района\" (ГУ ЖА Пушкинского района)" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=viewlink&link_id=19&Itemid=100", "Управляющие компании Пушкинского района" -> "http://www.gilkom-complex.ru/index.php?option=com_mtree&task=listcats&cat_id=108&Itemid=100")
-   )
- )