- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- attributes("title") = "Пакеты услуг и пакетные предложения"
- attributes("keywords") = "пакеты услуг, пакетные предложения, название пакетов услуг, скидки на электромонтажные работы"
- attributes("description") = "Действующие пакетные предложения. Пакетные предложения 'Добрый электрик', 'Компьютерный гений', 'Яркий мир', 'Муж на год' и другие."
- attributes("pageCategory") = Bundles
-@ val phoneTitle: String = "Чтобы заказать пакет, введите номер телефона: "

.jumbotron
    .container
        ul.breadcrumbs.pakety_uslug
            li.active
                h1 Пакеты услуг
            li
                a(href='/') Главная
        .lead “Запасливый нужды не терпит.” Русская пословица.
.container
    div{:class => 'case bundle'}
        h2 Пакет “Добрый электрик”
        p
            | Электричество – это опасно. По статистике МЧС России более 67% всех пожаров в нашей стране возникают из-за некачественной электропроводки. Вы хотите быть полностью уверены, что вам не грозит опасность? Тогда это предложение именно для вас.
            | &nbsp;
            a{:href => 'javascript:void(0)', :class => 'toggleDetails', :title => 'Нажмите, чтобы посмотреть подробную информацию о пакете'} Подробнее...
        div{:class => 'well details'}
            h3 Кому предназначен этот пакет?
            p Пакет предназначен как для частных лиц, так и для организаций. Закажите пакет для квартиры, дома, дачи, офиса или склада.
            h3 Что включено?
            ul
                li
                    strong Первоначальный осмотр проводки и электроприборов
                    |, позволяющий выявить наиболее важные проблемы, угрожающие вашей безопасности.
                li
                    strong Подготовка рекомендаций по устранению имеющихся проблем
                    | &nbsp;– вы получите полный список неполадок и неисправностей и сможете заказать их устранение в кратчайшие сроки.
                li
                    strong Регулярные проверки
                    | &nbsp;– раз в месяц наш электрик будет заново осматривать состояние электропроводки, электроприборов, счетчиков, заземления и других пожароопасных частей помещения и уже точно ничего не случится.
            h3 Сколько стоит?
            p
                | Всего
                strong &nbsp;30 рублей в день.
                | &nbsp;Подумайте, ведь примерно столько вы тратите каждый день, покупая свежий хлеб в магазине или садясь на трамвай. Разве ваше спокойствие и уверенность не стоят этих денег?
            p
                | Указанная цена действительна для помещений площадью
                strong
                    | &nbsp;до 65 м
                    sup 2
                    | &nbsp;включительно.
                | &nbsp;Если площадь вашего помещения превышает 65 м
                sup 2
                | , то цена увеличивается пропорционально площади.
            p
                | Услуги доброго электрика можно заказать на
                strong &nbsp;полгода или год с возможностью автоматического продления договора.
                | &nbsp;Если вы заказываете пакет впервые, то имеете возможность оплатить всего
                strong &nbsp;два пробных месяца.
            h3 Дополнительные опции
            p По вашему желанию в данный пакет могут также быть включены такие услуги, как замена ламп, выключателей, техническая чистка и ремонт бытовой техники, ведение показаний счетчиков и любые другие. Мы также можем взять на себя все заботы по закупке сопутствующих расходных материалов. Стоимость пакета при заказе дополнительных опций оговаривается индивидуально.
            h3 Пакет в подарок
            p Вы можете заказать любое пакетное предложение не только для себя, но и в подарок друзьям или близким. При этом договор будет заключен с вами, а для получателя подарка будет выписана доверенность, дающая ему право воспользоваться нашими услугами за ваш счет. При заказе в подарок все расчеты стоимости и документы об оплате будут переданы вам на отдельном бланке, который легко убрать из подарка.
        - render("pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.ElectricalBundle))
    div{:class => 'case bundle'}
        h2 Пакет “Компьютерный гений”
        p
            | Вы используете всю мощь имеющихся у вас компьютеров, принтеров, факсов! У вас никогда нет проблем с установленными программами, вирусами, спамом! Каждый день вы получаете удовольствие от работы со всей этой сложной техникой, а слаженная работа приносит вам дополнительную прибыль! Ваши данные всегда в целости и сохранности! Все это вы получите обратившись к нашим компьютерным гениям.
            | &nbsp;
            a{:href => 'javascript:void(0)', :class => 'toggleDetails', :title => 'Нажмите, чтобы посмотреть подробную информацию о пакете'} Подробнее...
        div{:class => 'well details'}
            h3 Кому предназначен этот пакет?
            p Пакет предназначен в большей степени для организаций, имеющих целый спектр компьютерных устройств, но может быть заказан и частным лицом, желающим избавиться от периодически возникающих неполадок на домашнем компьютере или ноутбуке.
            h3 Что включено?
            ul
                li
                    strong Консультация с компьютерным специалистом
                    | , в ходе которой вы сможете узнать ответы на все накопившиеся у вас вопросы и узнаете каким образом можно сэкономить.
                li
                    strong Оптимизация работы всей вашей компьютерной техники
                    | &nbsp;– вы увидите, что даже при небольших расходах можно работать эффективно и узнаете как применение сетевых технологий поможет более эффективно распоряжаться своим временем.
                li
                    strong Ежемесячное обслуживание
                    | &nbsp;– стандартный набор процедур, ежемесячное выполнение которых позволит вашей технике прослужить без сбоев длительное время.
                li
                    strong Срочные вызовы
                    | &nbsp;– раз в три месяца вы можете сделать срочный вызов и наш специалист приедет к вам в течение дня.
                li
                    strong Удаленные консультации
                    | &nbsp;– при необходимости вы сможете получить помощь в решении ваших повседневных проблем по телефону или через программу удаленного администрирования, когда специалист видит экран вашего компьютера через Интернет и может быстро устранить проблему.
            h3 Сколько стоит?
            p
                | Всего
                strong &nbsp;50 рублей в день.
                | &nbsp;Столько стоит бутылка лимонада или авторучка. Лишнее время, которые вы тратите из-за неправильно организованной компьютерной системы, - это упущенные клиенты, а значит и неполученная прибыль. Представьте, что час работы одного сотрудника вашей фирмы стоит 250 рублей. Если каждый день ваш сотрудник делает два часа объем работы, который можно было бы при правильном подходе сделать за час, то обратившись к нам вы будете каждый день экономить этот час и получать за год дополнительную прибыль примерно в 52000 рублей, а это 130% от месячной зарплаты данного сотрудника при работе по 8 часов в день 5 дней в неделю.
            p
                | Указанная цена действительна при обслуживании
                strong не более 5 компьютеров.
                | &nbsp;В других случаях цена оговаривается отдельно и увеличивается пропорционально числу компьютеров.
            p
                | Услуги компьютерных гениев можно заказать
                strong &nbsp;на полгода или год с возможностью автоматического продления договора
                | &nbsp;и, если вы заказываете пакет впервые - оплатить всего
                strong &nbsp;два пробных месяца.
                | &nbsp;Вы также можете заказать данный пакет в подарок.
        - render("pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.ComputerBundle, "isFirstOrderForm" -> false))
    div{:class => 'case bundle'}
        h2 Пакет “Яркий мир”
        p
            | Закажите профессиональный дизайн освещения в квартире, доме или офисе и получите проект, как в лучших домах Западной Европы! Экономьте на электричестве и увеличьте продуктивность работы ваших сотрудников на 30%!
            | &nbsp;
            a{:href => 'javascript:void(0)', :class => 'toggleDetails', :title => 'Нажмите, чтобы посмотреть подробную информацию о пакете'} Подробнее...
        div{:class => 'well details'}
            h3 Кому предназначен этот пакет?
            p Пакет предназначен для частных лиц и организаций, желающих иметь в своем распоряжении все последние достижения в области освещения и светодизайна. Поверьте, это не только красиво, но и удобно и экономит ваши средства.
            h3 Что включено?
            ul
                li
                    strong Консультация с дизайнером
                    | , включающая в себя детальный осмотр и замер размеров помещения и позволяющая вам высказать пожелания к проекту освещения.
                li
                    strong Подготовка 3D-модели освещенности помещения
                    | &nbsp;– вы получите представление о том, как будет выглядеть освещение еще до начала его монтажа.
                li
                    strong Расчет освещеннности
                    | &nbsp;– выделение зон освещенности, расчет требований по различным световым параметрам (интенсивность, освещенность, яркость, спектр света).
                li
                    strong Подготовка проекта освещения
                    | &nbsp;– количество, тип и расположение светильников, принципиальная и монтажная электрическая схема, включающая в себя точные модели светильников, источников питания и электропроводки.
                li
                    strong Экономический расчет
                    | &nbsp;– расчет экономического эффекта от использования спроектированной схемы освещения, сколько вы сможете сэкономить на электричестве.
            h3 Сколько стоит?
            p
                | Стоимость пакета составляет
                strong
                    | &nbsp;2000 рублей за 1 м
                    sup 2
                    | &nbsp;площади.
                | &nbsp;Дорого это или дешево? Представьте себе обычную жилую комнату, на потолке которой висит люстра из 5 ламп накаливания мощностью 100 Вт. После выполнения профессионального дизайна освещения в комнате мощность&nbsp;
                strong всех светильников
                | &nbsp;может равняться 100 Вт, т.е. ваши&nbsp;
                strong расходы на освещение снизятся в пять раз.
                | &nbsp;А самое главное – правильное освещение благоприятно скажется на здоровье и самочувствии ваших близких, что само по себе бесценно.
        - render("pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.LightingBundle, "isFirstOrderForm" -> false))
    div{:class => 'case bundle'}
        h2 Пакет “Муж на год”
        p
            | Часто вызываете&nbsp;
            a(href='/services/husband-for-an-hour') “мужа на час”?
            | &nbsp;Сэкономьте до 40%, заказав этот пакет.
            | &nbsp;
            a{:href => 'javascript:void(0)', :class => 'toggleDetails', :title => 'Нажмите, чтобы посмотреть подробную информацию о пакете'} Подробнее...
        div{:class => 'well details'}
            h3 Кому предназначен этот пакет?
            p Пакет предназначен для частных лиц, которые периодически пользуются услугами мастера на час и хотят сэкономить.
            h3 Что включено?
            ul
                li
                    strong Консультация с мастером
                    | , позволяющая составить наиболее оптимальную периодичность выполнения всех видов работ.
                li
                    strong Право вызвать мастера на час один раз в неделю или один раз в месяц.
            h3 Сколько стоит?
            p
                | Стоимость пакета равна
                strong
                    | &nbsp;35 рублей в день,
                | &nbsp;если мастер на час требуется раз в месяц и 120 рублей в день, если вы планируете пользоваться услугами мастера раз в неделю. В обоих случаях вы получаете скидку более 30% по сравнению с разовым вызовом мастера на час.
        - render("pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.HusbandForAnHourBundle, "isFirstOrderForm" -> false))