- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- attributes("title") = "Контакты и реквизиты"
- attributes("keywords") = "контактная информация, реквизиты, юридический адрес"
- attributes("description") = "Контактная информация и реквизиты. Время работы."
- attributes("pageCategory") = Contact

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.contact
            li.active
                h1 Контакты
            li
                a(href='/') Главная
        - render("pieces/orderFormJumbotron.jade", Map("phoneTitle" -> "Чтобы заказать звонок, введите номер телефона:", "additionalData" -> ad.Contact))
.container
    .case.text-center(itemscope itemtype='http://schema.org/LocalBusiness')
        .row-fluid
            .span6
                h2 Контактная информация
                .muted_bg
                    p
                        strong Время работы:
                    p
                        | Пн-Пт 10:00 - 20:00
                        br
                        | Сб, Вс 10:00 - 18:00
                        br
                    p
                        strong Телефон:
                    p(style='font-size: 24px; font-family: Calibri, Arial; font-style: italic;')
                        span(itemprop="telephone") +7 812 929-89-96
                        br
                    p
                        strong Email:
                    p
                        a{:href => 'mailto:info@meridor.ru', :title => 'Нажмите, чтобы отправить нам электронное письмо'}
                            span(itemprop="email") info@meridor.ru
                        br
                br
                h2 Социальные сети
                ul.socials
                    li.soc_vk
                        a{:href => 'http://vk.com/meridor', :title => 'Перейти на страницу компании в сети "ВКонтакте"'}
                    li.soc_tw
                        a{:href => 'http://twitter.com/iMeridor', :title => 'Перейти на страницу компании в Твиттере'}
                    -# li.soc_ln
                    -#    a(href='#')
                    -#li.soc_picasa
                    -#    a(href='#')
                br
                h2 Каталоги
                .muted_bg
                    -# Vsego.ru catalog link
                    a(href="http://www.vsego.ru" title="Каталог сайтов Всего.RU" target="_blank")<
                        img(src="http://www.vsego.ru/images/bkat8831.gif" alt="Каталог сайтов Всего.RU" border="0" width="88" height="31")
                    -# Lampe.ru catalog link
                    a(href="http://www.lampe.ru" target="_blank")<
                        img(src="http://www.lampe.ru/bb/8831.gif" alt="Lampe - портал производителей")
                    -# NoFollow.ru catalog link
                    a(style="margin: 5px auto; display:block; max-width: 100px; border: 1px solid rgb(143, 188, 188); text-align: center; line-height: 1em; vertical-align: middle; background-color: white; text-decoration: none;" href="http://www.nofollow.ru")<
                        span(style="color: Green;") каталог&nbsp;
                        span(style="color: Red;") сайтов
                        br
                        span(style="color: red;") No
                        span(style="color: Green;") folloW
                        |.Ru
            .span6.my-bordered
                h2 Реквизиты организации
                .muted_bg
                    p<
                        strong<
                            |ООО "
                            span(itemprop='name') Меридор
                            |"
                        br
                        |ИНН: 7806506412
                        br
                        |КПП: 780601001
                        br
                        |ОГРН: 1137847282418
                        br
                    p(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')<
                        strong Юр. адрес:
                        br
                        span(itemprop="postalCode") 195067
                        |, Россия,&nbsp;
                        span(itemprop="addressLocality") Санкт-Петербург
                        br
                        span(itemprop="streetAddress") ул. Бестужевская, д. 75, лит. А
                        |, пом. 13Н
                        span(itemprop="addressCountry" class="hidden") RU
                        br
                    p<
                        strong Банковские реквизиты
                        br
                        |р/с: 40702810232220000350
                        br
                        |в Филиал “Санкт-Петербургский” ОАО “Альфа-Банк”
                        br
                        |БИК: 044030786
                        br
                        |к/с: 30101810600000000786
                h2 Документы
                .muted_bg
                    p
                        strong Оферта на оказание услуг:
                    p
                        a(href="/doc/oferta.pdf" target="_blank" title="Нажмите, чтобы скачать договор-оферту") Скачать


                -# h3 Мы на карте:
                -# img.bordered(src='photos/map.png', alt='map')
                -# br
                br
                p.text-justify Для многих жителей России в последние годы слово “электрик” ассоциируется с неприятным человеком из ЖЭКа, который приходит только в случае крайней необходимости. Компания “Меридор” была создана, чтобы доказать, что ваш опыт может быть совершенно другим. Наши специалисты имеют более чем двадцатилетний опыт решения электротехнических проблем различной сложности. Многие мастера не один год проработали в государственных предприятиях городского электрического транспорта.
                p.text-justify<
                    |Воспользоваться нашими услугами очень просто, ведь существует множество способов вызвать электрика на дом. Вы можете отправить заявку прямо с этой страницы, введя свое имя и контактный телефон! Также для вызова электрика или решения срочных вопросов напишите нам сообщение на сайте&nbsp;
                    a{:href => 'http://vk.com/meridor', :title => 'Перейти на страницу компании в сети "ВКонтакте"'} Вконтакте
                    |&nbsp;или в&nbsp;
                    a{:href => 'http://twitter.com/iMeridor', :title => 'Перейти на страницу компании в Твиттере'} Твиттере
                    |. Наконец, просто позвоните нам по контактному телефону.
                br