- attributes("title") = "Электромонтажные работы, техническое обслуживание и светодизайн"

-# Jumbotron section
.jumbotron
    .container
        p(style='font-size: 30px; line-height: 56px; font-weight: 300;')
            | По результатам опросов 83% граждан России
            br
            | не уверены в безопасности своего жилища.
            br
            span(style='color: #010101; font-size: 33px;') А Вы хотите быть уверены?
            |&nbsp;Поверьте, нам есть что вам предложить.
-# Page content
.container.text-center
    .row-fluid
        .span6.case
            h2.header_ico2 Электромонтажные работы
            p
                | Не знаете с чего начать ремонт в квартире, загородном доме или даче? Грамотное проектирование и монтаж электрических систем – один из первых шагов на пути к долгожданному комфорту и благополучию.
            a.button.button-center(href='/services/electrical-works') Подробнее →
        .span6.case
            h2.header_ico1 Муж на час
            p
                | Накопилось множество проблем: сломалась розетка, перегорела лампочка, искрит выключатель? Компетентный электрик с набором нужного инструмента поможет привести все в порядок за пару часов.
            a.button.button-center(href='/services/husband-for-an-hour') Подробнее →
    .row-fluid
        .span6.case
            h2.header_ico3 Техническое обслуживание
            p
                | Предупреждение опасности – лучший рецепт безопасности! Периодическое обследование состояния электропроводки, своевременная замена ламп и другие мероприятия практически исключают возможность пожара.
            a.button.button-center(href='/services/technical-maintenance') Подробнее →
        .span6.case
            h2.header_ico4 Освещение
            p
                | Неправильное освещение является одной из пяти основных причин ухудшения зрения. Защитите себя и ваших детей! Продуманный дизайн освещения – это красиво, практично и доступно каждому.
            a.button.button-center(href='/services/lighting') Подробнее →
    .row-fluid
        .span6.case
            h2.header_ico6 Электроприборы
            p
                | Многие мощные электроприборы: электроплиты, стиральные машины, водонагреватели являются пожароопасными и должны подключаться специальным образом. Доверьте эту работу профессионалам!
            a.button.button-center(href='/services/electrical-appliances') Подробнее →
        .span6.case
            h2.header_ico5 Телекоммуникации
            p
                | Недовольны скоростью Интернета? А вы знаете, что при правильной прокладке кабеля скорость Интернета может возрастать в разы? Избавьтесь от неудобств всего за несколько дней!
            a.button.button-center(href='/services/telecommunication-technologies') Подробнее →
