- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.diana.db.entities.{Service, ServiceGroup}
- attributes("title") = "Цены на электромонтажные работы"
- attributes("keywords") = "цены на электромонтажные работы, электромонтаж цены, цены электромонтажных работ, электромонтажные работы прайс, электромонтаж прайс"
- attributes("description") = "Текущие расценки на все виды выполняемых работ. Калькулятор стоимости работ. Отправить заявку на выполнение работ."
- attributes("pageCategory") = Prices
-@ val servicesMap: Map[ServiceGroup, List[Service]]
- val phoneTitle = "Чтобы заказать звонок, введите номер телефона: "

.jumbotron
    .container
        ul.breadcrumbs.ceny
            li.active
                h1 Цены
            li
                a(href='/') Главная
        - render("pieces/orderFormJumbotron.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.Prices))
.container
    .case
        - render("pieces/pricesTable.jade", Map("servicesMap" -> servicesMap, "showGlobalTotals" -> true))
        - render("pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.Prices, "isFirstOrderForm" -> false))