- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Освещение: история развития и виды"
- attributes("keywords") = "освещение, наружное освещение, уличное освещение, искусственное освещение, история освещения"
- attributes("description") = "Основные этапы развития освещения в мире. Виды освещения. Естественное освещение. Искусственное освещение."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.articles
            li.active
                h1 Освещение: история развития и виды
            li
                a(href='/') Главная
        p.lead В этой статье мы кратко познакомимся с историей исследований в области освещения и поговорим о видах освещения.
.container
    .row-fluid
        .case.article.span12
            a.article-nav-left(href='/articles/ground-connection/classification' title='Заземление: виды заземления')
            -#a.article-nav-right(href='/articles/wires-and-cables/marking' title='Провода и кабели: маркировка')
            h2 История освещения
            p Человечество пыталось создать эффективные источники света на протяжении минимум последних 12 тысяч лет. При этом полноценные исследования в области электричества велись на протяжении последних двух столетий, вот почему большую часть этого времени источники света не использовали электричество в качестве источника энергии, преобразуемом в свет. Условно историю развития освещения разделяют на доэлектрический период и эпоху электрического освещения.
            p Считается, что первые искусственные источники света – факелы и горящие лучины стали использоваться в районе 10000 года до н.э. Примерно в 2500 году до н. э. появились первые глиняные лампы с маслом. Они представляли собой сосуд, по форме немного напоминающий чайник, который наполнялся оливковым маслом или животным жиром. В масло погружался фитиль, сплетенный из волокон, дававший при горении слабый свет. Существовали лампы с несколькими фитилями. В среднем горения масла в лампе хватало не более чем на несколько часов, после чего снова приходилось добавлять масло.
            p Примерно за 500 лет до нашей эры в Греции и Риме появились первые свечи и далее прогресс надолго остановился на месте. Еще в XVIII веке в эпоху Просвещения в Западной Европе в светильниках и фонарях повсеместно применялись восковые и сальные свечи. До конца XVIII века существует ограниченное число упоминаний о газовых светильниках (водородные лампы, светильники на каменноугольном газе), когда была запатентована первыя система газового света.
            img.pull-right(src='/photos/articles/lighting/oil-lamp.jpg' alt='Масляная лампа' title='Масляная лампа')
            p Почти весь XIX век прошел под знаком газового освещения. Так в Англии газовые фонари появились в 1798 году, во Франции – в 1818 году, а в Санкт-Петербурге в 1839 году. Для работы с газовыми фонарями существовала специальная профессия – фонарщик. Также в середине XIX века была изобретена керосиновая лампа, которую можно встретить до сих пор.
            p Открытия в области распространения электромагнитных волн, сделанные в XIX веке, определил и дальнейшее направление развития средств освещения. Так в 1802 году русский физик Василий Владимирович Петров открыл явление электрической дуги и наблюдал тлеющий разряд в газе, а в 1876 году с использованием этого явления Павел Николаевич Яблочков изобрел дуговую безрегуляторную лампу (“электрическую свечу”). Двумя годами ранее Александр Николаевич Лодыгин запатентовал угольную лампу накаливания, нить в которой впоследствии была заменена на вольфрамовую (1905 год). Фактически это была та самая обычная лампа накаливания, с которой каждый из нас знаком с детства.
            p На рубеже XIX и XX веков были сделаны новые интересные открытия. Так в 1901 году Купером и Хьюитом была изобретена ртутная лампа низкого давления, а в 1909 году – запатентовано применение в лампах накаливания галогенных соединений. Эти и последующие открытия в области электротехники и светотехники определили постепенный переход всего освещения с газового на электрическое.
            p С начала XX века и до сих пор идет дальнейшее развитие электрических источников света. Так в 20-30 годах XX века были созданы первые лампы накаливания с матовым стеклом, натриевая лампа низкого давления, лампа накаливания с двойной спиралью, освоено производство люминесцентных ламп низкого давления с ртутным наполнением и галофосфатными люминофорами. Также были заложены теоретические основы для появления светодиодов: объяснено явление свечения при пропускании электрического тока через p-n переход полупроводников. В 40-50 годах появились конструкции ксеноновых ламп, галогенных ламп накаливания и ртутных ламп высокого давления, имеющих повсеместное применение сегодня. Начиная с 60-х годов XX века запущены производства светодиодов малой мощности и изобретены лазеры. К концу XX века светодиоды достигли по своим параметрам другие виды ламп и все более и более внедряются в нашу жизнь. Параллельно идет разработка и конструктивное улучшение других существующих видов источников света.
            h2 Виды освещения
            p<
                |Существует несколько различных способов классификации освещения. Например, при классификации&nbsp;
                b по происхождению света
                |&nbsp;выделяют:
            ul
                li<
                    b Естественное освещение.
                    |&nbsp;Сюда входят источники Земного (свет молнии, свет и инфракрасное излучение от очень горячих тел, свечение живых существ, радиолюминесценция) и космического происхождения (солнечный свет, свет луны, звезд, комет, межзвездного газа).
                li<
                    b Искусственное освещение.
                    |&nbsp;Свет, производимый источниками, созданными человеком: факелом, лучиной, свечой, газовой или электрической лампой, светодиодом и так далее.
            p<
                b По назначению
                |&nbsp;освещение может быть:
            ul
                li<
                    b Рабочее освещение.
                    |&nbsp;Используется в нормальном режиме функционирования объекта: школы, детского сада, завода, торгового центра и так далее.
                li<
                    b Аварийное освещение.
                    |&nbsp;Используется только в нештатной (аварийной ситуации). Например, в большинстве социально значимых объектов обязательно присутствует система аварийного освещения, позволяющая организовать эвакуацию людей в случае необходимости.
            p<
                b По области применения
                |&nbsp;освещение подразделяют на:
            ul
                li<
                    b Бытовое.
                    |&nbsp;Для квартир, офисов, торговых площадей.
                li<
                    b Промышленное.
                    |&nbsp;Освещение для предприятий и складских помещений.
                li<
                    b Художественное.
                    |&nbsp;Для фотосъемки, театра, представлений и шоу.
                li<
                    b Архитектурное.
                    |&nbsp;Для подсветки фасадов и ландшафта.
                li<
                    b Для научных исследований.
                    |&nbsp;Как правило имеет параметры, значительно отличающиеся от бытового освещения.
                li<
                    b Для работы в агрессивной среде.
                    |&nbsp;Например, освещение под водой. Существуют специальные модели светильников, соответствующие различным классам защищенности от внешних воздействий IP, например, IP68.
            p<
                b По расположению источников света
                |&nbsp;существуют:
            img.pull-right(src='/photos/articles/lighting/led-lamp.jpg' alt='Светодиодная лампа' title='Светодиодная лампа')
            ul
                li<
                    b Наружное освещение.
                    |&nbsp;В этом случае все источники освещения располагаются вне помещений. Сюда относится уличное освещение, архитектурная подсветка фасадов зданий, свет фар автомобилей и светофоров, свет рекламных вывесок и многое другое.
                li<
                    b Внутреннее освещение.
                    |&nbsp;Все источники света смонтированы внутри помещения. К внутреннему освещению относят освещение квартир, офисов, производственных помещений, подсобных помещений.
            p<
                b По типу источников света
                |&nbsp;освещение подразделяется на:
            ul
                li Масляное
                li Свечное
                li Керосиновое
                li Газовое
                li С лампами накаливания
                li С дуговыми лампами
                li С люминесцентными или индукционными лампами
                li Светодиодное
                li Лазерное
            p Мы рассмотрим основные виды ламп более подробно в одной из следующих статей.
            p<
                b По способу управления
                |&nbsp;освещением имеются источники света:
            ul
                li<
                    b С ручным управлением.
                    |&nbsp;Например, масляную лампу нужно тушить вручную, ее нельзя “выключить” дистанционно. Точно также некоторые старые электрические фонари можно включить только повернув рубильник.
                li<
                    b С автоматическим управлением.
                    |&nbsp;Существуют источники света, которые могут полностью отключаться при достижении определенной естественной освещенности в месте своего нахождения. Для этого такие источники света оборудуются датчиками освещенности. Кроме того в последнее время получили распространение схемы подключения источников света совместно с датчиками движения. В этом случае лампа зажигается только при присуствии человека в непосредственной близости от нее. Это позволяет, например, экономить электричество в подъездах и коридорах, где нет постоянно находящихся людей. В некоторых случаях возможно организовать независимое управление сетью освещения с помощью протокола DMX-512. Для этого все источники света соединяются витой парой, подключенной к специальному устройству – контроллеру, через которое состоянием отдельных светильников можно независимо управлять с компьютера.
            p<
                b По способу крепления
                |&nbsp;искусственные источники света подразделяют на:
            ul
                li С креплением на столбах
                li С креплением на мачтах
                li С креплением на тросах
                li С креплением на крепежных кабелях
                li С креплением на стену
                li С креплением на вспомогательные конструкции (гипсокартон, металлическая арматура и т.п.)
            p<
                b По спектру излучения
                |&nbsp;источники света делят на:
            ul
                li Источники видимого света. Внутри этого диапазона можно также ввести классификацию по цветам.
                li Источники инфракрасного (ИК) излучения
                li Источники ультрафиолетового (УФ) излучения
            p Несмотря на то, что радиоволны и рентгеновские лучи имеют ту же электромагнитную природу, мы не будем включать их в понятие “свет” из-за во многом отличающихся свойств (например, проникающей способности, траектории распространения в пространстве и так далее). Кроме того данная классификация является несколько условной, так как источник света может излучать одновременно в диапазоне видимого света, в УФ и ИК областях спектра. Тем не менее мы будем говорить, что источник излучает в видимой области спектра, если именно на этих частотах переносится преобладающая доля мощности электромагнитной волны.
            p Кроме приведенных выше способов классификации источники света можно классифицировать по яркости, по классу опасности, по времени наработки на отказ, по КПД и так далее.