- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.website.db.entities.{ServiceGroup, ServiceGroupContents}
- import ru.meridor.website.util.Formatters._
- val currentDate = timestampToDate(new java.util.Date().getTime)
- val pageTitle = "Цены на электромонтажные работы от " + currentDate
-@ val title: String = ""
- attributes("title") = if (title.isEmpty) pageTitle else title
- attributes("keywords") = "цены на электромонтажные работы, электромонтаж цены, цены электромонтажных работ, электромонтажные работы прайс, электромонтаж прайс"
- attributes("description") = "Текущие расценки на все виды выполняемых работ. Калькулятор стоимости работ. Отправить заявку на выполнение работ."
- attributes("pageCategory") = Prices
-@ val servicesMap: Map[ServiceGroup, ServiceGroupContents]
-@ val storedCalculation: String = ""
- val mainHeader = if (title.isEmpty) "Цены (от " + currentDate + ")" else title
- val phoneTitle = "Для консультации введите номер телефона: "

.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.prices
            li.active
                h1 Цены (от #{currentDate})
            li
                a(href='/') Главная
        - render("pieces/orderFormJumbotron.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.Prices))
.container
    .case
        - render("pieces/pricesTable.jade", Map("servicesMap" -> servicesMap, "showGlobalTotals" -> true))
        - if (!storedCalculation.isEmpty)
            .stored-calculation=storedCalculation
        - render("pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.Prices, "isFirstOrderForm" -> false))