- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Инструмент электрика"
- attributes("keywords") = "инструмент электрика, набор электрика, штроборез, перфоратор, мультиметр, пирометр, болгарка, пинцет, лобзик, пресс-клещи, промышленный пылесос"
- attributes("description") = "Краткое описание различных инструментов электрика. Фотографии инструментов. Классификация."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.prochti
            li.active
                h1 Инструмент электрика
            li
                a(href='/') Главная
        p.lead В своей работе профессиональный электрик использует большое количество различных инструментов. Набор электрика сегодня содержит как технически простые инструменты, имеющиеся в каждом доме, так и профессиональные машины, требующие специального обучения.
.container
    .row-fluid
        .case.article.span12
            -#a.article-nav-left(href='#', title='к предыдущей статье')
            -#a.article-nav-right(href='#', title='к следующей статье')
            h2 Инструменты для геометрических измерений
            h3 Лазерная рулетка
            p Позволяет измерять расстояния, площади и объемы с большой точностью при помощи лазерного луча. Для измерения расстояний лазерный луч рулетки наводится на поверхность, расстояние до которой нужно измерить, и экран рулетки показывает расстояние от прибора до поверхности. При выполнении нескольких замеров расстояния возможно вычислять площади и объемы помещений прямоугольной формы.
            img.pull-right(src='/photos/articles/electrical-tools/laser-level.jpg' alt='Магнитный уровень и лазерный уровень' title='Магнитный уровень и лазерный уровень')
            h3 Лазерный уровень
            p Автоматически выравнивается горизонтально полу и проецирует сетку из лазерных лучей на рабочую поверхность. Использование уровня позволяет не тратить время на разметку поверхностей вспомогательными линиями, выровненными в горизонтальной или вертикальной плоскости, а сразу приступить к сверлению, бурению или резке штроб, пользуясь линиями, спроецированными лазерным уровнем на стены и потолок.
            h3 Лазерный электромонтажный уровень
            p Специализированный электромонтажный лазерный прибор, проецирующий на стену метки, по которым может производиться монтаж розеток и выключателей. Различают электромонтажные уровни для монтажа одиночных розеток и групп розеток.
            h3 Магнитный уровень
            p Представляет собой пузырьковый уровень с магнитными вставками, позволяющими точно выравнивать в вертикальной и горизонтальной плоскости металлические детали и конструкции, такие как профиль для крепления гипсокартона.
            h3 Механическая рулетка
            p Несмотря на то, что в большинстве случаев для измерений достаточно лазерной рулетки, в некоторых ситуациях используется простая механическая рулетка.

            h2 Инструменты для электрических измерений
            h3 Мультиметр (тестер, авометр)
            p Комбинированный электроизмерительный прибор, как правило сочетающий в себе функции вольтметра (измерение напряжения), амперметра (измерение силы тока) и омметра (измерение омического сопротивления). Существуют цифровые и аналоговые (стрелочные) модификации мультиметров, позволяющие измерять параметры цепей постоянного и переменного тока. К вспомогательными функциями мультиметров относятся “прозвонка” цепей на обрыв, измерение частоты переменного тока, емкости и индуктивности, температуры при помощи термопары, тест диодов и транзисторов на работоспособность и вычисление некоторых простых параметров этих полупроводниковых устройств.
            img.pull-right(src='/photos/articles/electrical-tools/multimeter.jpg' alt='Мультиметр с функцией прозвонки диодов и транзисторов' title='Мультиметр с функцией прозвонки диодов и транзисторов')
            h3 Пирометр (бесконтактный измеритель температуры)
            p Предназначен для бесконтактного измерения температуры поверхности горячих предметов. Измерение происходит при наведении лазерного луча прибора на точку, в которой необходимо произвести измерение. Применяется для определение теплопотерь в зданиях и для контроля температуры отдельных составляющих электрических систем в недоступных для прямого измерения местах.
            h3 Измеритель влажности
            p Позволяет с большой точностью измерять относительную влажность воздуха в помещении. Часто изготавливается в комбинированном исполнении вместе с измерителем температуры воздуха. Как правило используется при монтаже и эксплуатации оборудования, которое в силу своих технических характеристик может использоваться только в определенном диапазоне относительной влажности воздуха и температур.
            h3 Люксметр
            p Люксметр применяется при монтаже систем освещения и служит для измерения освещенности в заданной точке помещения. Представляет собой датчик освещенности (фотоэлемент), соединенный с измерительным блоком (стрелочным или цифровым). После завершения монтажа системы освещения следует проверить при помощи люксметра, что освещенность в каждой отдельно взятой световой зоне помещения соответствует государственным стандартам в области охраны труда. Например, освещенность рабочего места должна быть больше, чем освещенность помещения в целом.

            h2 Инструмент для черновых работ
            h3 Штроборез (бороздодел)
            p Служит для резки штроб – каналов в стенах и потолке, в которые укладываются провода при монтаже скрытой проводки. Представляет собой мощную дисковую пилу с двумя параллельными алмазными дисками. Продвинутые модифицикации штроборезов также имеют специальный разъем для отведения пыли, возникающей при резке.
            img.pull-right(src='/photos/articles/electrical-tools/hammer-drill.jpg' alt='Мощный перфоратор' title='Мощный перфоратор')
            h3 Перфоратор
            p Применяется для высверливания и выдалбливания различных отверстий, вырезания в бетоне ниш под розетки, в некоторых случаях – при подготовке штроб. В зависимости от вида выполняемых работ перфоратор используется с соответствующей насадкой: буром, пикой или скарпелем. Кроме того для разных материалов и глубин отверстий применяются перфораторы различной мощности.
            h3 Строительный отбойный молоток
            p Предназначен для раскалывания и разрыхления таких материалов как бетон и асфальт. Состоит из привода и зубила, непосредственно раскалывающего материал. Различают пневматические, электрические, бензиновые, гидравлические и другие виды отбойных молотков. Наиболее удобным для электромонтажных работ стоит считать электрические отбойные молотки, т.к. они не производят вредных выбросов и при использовании не требуют ничего, кроме источника электроэнергии. Отбойный молоток применяется при долблении каналов в бетоне и кирпиче.
            h3 Угловая шлифовальная машина (“болгарка”)
            p Служит для резки, шлифования и зачистки металлических и каменных изделий. Для резки используются сменные абразивные или алмазные диски, для шлифовки – шлифовальные насадки и щетки.
            img.pull-right(src='/photos/articles/electrical-tools/fretsaw.jpg' alt='Электролобзик' title='Электролобзик')
            h3 Электролобзик
            p Электрический инструмент, служащий для выполнения распилов различной формы в дереве, пластике, металле и стекле. При выполнении электромонтажных работ применяется, например, для выпиливания отверстий под розетки и выключатели в некоторых видах пластиков и дереве.

            h2 Монтажный инструмент
            h3 Электростеплер
            p Электрический аналог обычного канцелярского степлера. Служит для скрепления изделий между собой большими металлическими скобами или специальными гвоздями. Профессиональные степлеры позволяют использовать одну или две скобы за раз.
            h3 Газовый монтажный пистолет
            p Служит для того, чтобы закреплять различные виды металлического крепежа к различным типам поверхостей: бетону, кирпичу, металлической поверхности, дереву. Пистолет использует баллоны со сжатым газом (пропан или бутан) для создания микровзрыва в камере сгорания. Энергия взрыва газа придает крепежному элементу достаточную энергию, чтобы прочно войти в любой материал. При выполнении электромонтажных работ пистолет используется для быстрой фиксации крепежа на стенах и потолке при подвеске кабелей и кабель-каналов.
            h3 Аккумуляторный шуруповерт / гайковерт
            p Электрический заменитель отвертки. Служит для закручивания и откручивания шурупов и саморезов, болтов и других резьбовых соединений различного размера и применения. Часто применяется при монтаже гипсокартонных конструкций. Позволяет закручивать саморезы с различной скоростью и усилием.
            img.pull-left(src='/photos/articles/electrical-tools/screw-gun.jpg' alt='Аккумуляторный шуруповерт' title='Аккумуляторный шуруповерт')

            h2 Ручной инструмент
            h3 Пресс-клещи (кримперы)
            p Служат для опрессовки соединений проводов и крепления наконечников кабелей, например, витой пары пластиковым разъемом стандарта RJ-45.
            h3 Инструмент для снятия изоляции
            p Служат для быстрого снятия изоляции с проводов и кабелей различного сечения, материала изоляции и рабочего напряжения. Существуют различные модификации подобных инструментов: для фронтального и бокового снятия изоляции, для работы под высоким напряжением, клещи, ножи, кусачки и так далее.
            h3 Кабелерезы и кусачки
            p Кабелерез – это металлические клещи или ножницы специальной формы, служащие для разрезания медных и алюминиевых кабелей и проводов. Для резки толстых кабелей также существуют гидравлические кабелерезы, дополнительное усилие в которых создается за счет гидравлического привода.
            h3 Плоскогубцы и пассатижи
            p Служат для зажима и захвата плоских и цилиндрических деталей различного размера и форм, в том числе проводов и кабелей. Для электромонтажных работ подходят только плоскогубцы и пассатижи, имеющие изолированные ручки, в большинстве случаев обеспечивающие изоляцию под напряжением до 1000 В. Для работы с большими напряжениями требуется специальный инструмент.
            img.pull-left(src='/photos/articles/electrical-tools/hand-tools.jpg' alt='Ручной инструмент: пресс-клещи, плоскогубцы, отвертки' title='Ручной инструмент: пресс-клещи, плоскогубцы, отвертки')
            h3 Пинцет
            p Служит для удерживания небольших предметов, которые неудобно или опасно брать в руки. Существуют пинцеты различных форм и размеров, в том числе для монтажно-паечных работ, установки SMD \ SMT-компонентов, прецизионные пинцеты, самозажимные пинцеты, прямые и изогнутые пинцеты. Для электромонтажных работ важно, чтобы пинцет, как и пассатижи, имел изолированные диэлектрические ручки.
            h3 Отвертки
            p Используются при заворачивании резьбовых крепежных изделий – винтов и саморезов, применяемых при монтаже электрических систем и вспомогательных конструкций для них (например, конструкций из гипсокартона). Наиболее часто применяются отверстки с прямой, крестообразной и шестигранной формой шлица. Для работ под напряжением существуют специальные отвертки с изолированной диэлектрической ручкой.
            h3 Накидные, рожковые и торцевые ключи
            p Используются при заворачивании и отворачивании резьбовых крепежных изделий: гаек и болтов, повсеместно применяемых в электрических системах. Наиболее часто применяются ключи с шестигранной формой шлица. Для работ под напряжением следует применять ключи с  диэлектрической изолированной ручкой.
            h3 Ножницы по металлу
            p Служат для разрезания изделий из металла. Наиболее частое применение подобных ножниц – разрезание жестяных профилей, используемых при монтаже гипсокартонных конструкций. При покупке следует обратить внимание на наличие возвратной пружины у ножниц.
            h3 Ножовки и пилы
            p Служат для разрезания и распиливания различных материалов, используемых при монтаже электрических систем. Существуют пилы и ножовки по дереву, металлу, пластику, пеноблокам, гипсокартону.

            h2 Вспомогательный инструмент и приспособления
            h3 Промышленный пылесос
            p При выполнении некоторых видов работ образуется большое количество строительного мусора и пыли. Вот почему большинство электриков не могут обойтись без мощного промышленного пылесоса. Кроме того, при штроблении промышленный пылесос может подсоединяться к специальному выводу штробореза, что позволяет удалять любую образующуюся пыль.
            img.pull-right(src='/photos/articles/electrical-tools/angle-grinder.jpg' alt='Угловая шлифовальная машина (болгарка)' title='Угловая шлифовальная машина (болгарка)')
            h3 Строительный фен
            p Строительный фен является аналогом обычного бытового фена, но, в отличие от него, в большинстве случаев имеет больший диапазон температур выдуваемого воздуха (до 300 – 500 °С). Служит для нагрева выбранных участков рабочей поверхности. Часто применяется при выполнении электромонтажных работ для работы с термоусаживаемыми материалами: как заменитель изоленты, для усадки термоусаживаемых кабельных муфт, маркировки концов жил кабеля, восстановления изоляции поврежденных проводов и так далее.
            h3 Диэлектрические стремянки
            p При выполнении работ на высоте применяются различные простые и П-образные стремянки. Для электромонтажных работ существуют специальные диэлектрические стремянки из углепластика, имеющие меньший вес и непроводящие электрический ток.
            h3 Шумопоглощающая маска (наушники)
            p Поскольку многие виды электромонтажных работ производят шум выше допустимых безопасных для слуха уровней, применяются шумопоглощающие наушники. Наушники могут также снабжаться прозрачной защитой для глаз из пластика.
            h3 Налобный фонарь
            p Чтобы лучше видеть некоторые участки работ следует иметь при себе налобный фонарь, желательно с регулировкой яркости света. В последнее время получили распространение фонари с мощными светодиодами.
            h3 Наколенники
            p Наколенники защищают колени при длительной работе в неудобном положении на жесткой, грубой, холодной или мокрой поверхности. Как правило оснащаются гелевыми вставками, обеспечивающими дополнительную мягкость и комфорт.

            img.pull-left(src='/photos/articles/electrical-tools/toolcase.jpg' alt='Чемодан для инструментов' title='Чемодан для инструментов')
            h2 Сумки и органайзеры
            h3 Контейнер для инструмента
            p Для переноски различного ручного инструмента и крепежа используются различные виды контейнеров для инструмента и крепежа: ящики, чемоданы, сумки, органайзеры. Подобные контейнеры не только обеспечивают сохранность инструмента и крепежа в рабочем состоянии, но и помогут содержать их в упорядоченном состоянии.
            h3 Пояс или жилет электромонтажника
            p Чтобы всегда иметь набор самых часто используемых инструментов под рукой, опытные электрики надевают пояс или жилет с карманами различной формы и размера.

            -#
                br
                br
                .row-fluid.well
                    .row-fluid
                        .span12
                            h1 Прочти также
                    .row-fluid
                        .span4
                            ul.unstyled.custom-list
                                li
                                    a(href='#') Провода и кабели
                                    | →
                                li
                                    a(href='#') Электропроводка в квартире
                                    | →
                                li
                                    a(href='#') Безопасное электричество
                                    | →
                        .span4
                            ul.unstyled.custom-list
                                li
                                    a(href='#') Работы без пыли
                                    | →
                                li
                                    a(href='#') Электрика в новостройке
                                    | →
                                li
                                    a(href='#') Электричество на даче
                                    | →
                        .span4
                            ul.unstyled.custom-list
                                li
                                    a(href='#') Устройство заземления
                                    | →
                                li
                                    a(href='#') Стандарты и правила
                                    | →
