- import ru.meridor.website.ui.PageCategory._
- attributes("title") = "Работа без пыли"
- attributes("keywords") = "строительные работы без пыли, работа без пыли, штробление без пыли"
- attributes("description") = "Краткое описание различных способов борьбы со строительной пылью. Фотографии."
- attributes("pageCategory") = Articles

.jumbotron
    .container
        ul.breadcrumbs.prochti
            li.active
                h1 Работа без пыли
            li
                a(href='/') Главная
        p.lead Пыль, накапливающаяся в помещении вызывает аллергию и различные легочные болезни. Именно поэтому при выполнении строительных работ крайне важно бороться со образующейся пылью всеми возможными способами.
.container
    .row-fluid
        .case.article.span12
            a.article-nav-left(href='/articles/electrical-tools' title='Инструмент электрика')
            -#a.article-nav-right(href='/articles/standards' title='К следующей статье')
            h2 Источники пыли
            p Основными источниками строительной пыли являются пыль, возникающая при работе с сыпучими смесями на основе цемента (цементная пыль), а также пыль, образующаяся при сверлении, долблении и распиливании несущих конструкций зданий: стен, перекрытий и межкомнатных перегородок. При выполнении электромонтажных работ наиболее пыльными операциями являются штробление (резка каналов в бетоне, кирпиче или гипсе), выдалбливание отверстий перфоратором и обработка поверхностей шлифовальной машиной.
            h2 Средства защиты от пыли
            h3 Защитные маски: респираторы и противогазы
            p Являются индивидуальным средством защиты от пыли. Как правило применяются непосредственно при работы в запыленном помещении. Различают респираторы для одноразового и многоразового применения (со сменными фильтрами), защищающие от пыли, а также от паров вредных и радиоактивных веществ. Для еще более запыленных помещений применяются противогазы со специальными фильтрами, служащими для защиты от пыли, дыма и тумана.
            img.pull-right(src='/photos/articles/no-dust/respirator.jpg' alt='Промышленный респиратор' title='Промышленный респиратор')
            h3 Промышленный пылесос
            p Одно из наиболее эффективных средств защиты от строительной пыли. Позволяет удалять пыль, стружки, опилки и другой строительный мусор. От бытового пылесоса отличается повышенной мощностью всасывания и объемом. Некоторые модели имеют встроенную розетку, позволяющую подключать другие электроприборы используемые совместно с пылесосом, например, штроборезы и угловые шлифовальные машины. Продвинутые модели умеют отключаться и включаться одновременно с подключенным электроинструментом, позволяют выполнять не только сухую, но и влажную уборку. Наиболее важным применением промышленного пылесоса при производстве электромонтажных работ следует считать отведение пыли от штробореза непосредственно при резке каналов в стенах. В этом случае шланг пылесоса подключается к специальному выводу для отведения пыли штробореза, расположенного в непосредственной близости от режущих алмазных дисков.
            h3 Полиэтиленовая пленка, скотч, бумажная лента
            p Используются для обертывания и обклеивания изделий, которые нужно защищить от пыли во время выполнения работ: мебели, бытовой техники, промышленных установок. Полиэтиленовая пленка бывает простая, армированная и воздушно-пузырчатая, а также прозрачная и светонепроницаемая. Конкретный вид и толщина пленки выбирается в зависимости от упаковываемого изделия. При упаковывании мебели и изделий, имеющих острые края рекомендуется не только использовать пленку большей толщины, но также предварительно обернуть изделие в плотную ткань или одеяло, чтобы острые края не прорвали пленку. Это позволит не только избежать появления пыли, но и убережет поверхности от сколов и царапин. Для надежного крепления полиэтиленовой пленки используется липка лента (скотч). Если работы проводятся в ранее отремонтированном помещении, то все щели предварительно обклеиваются бумажной (малярной) лентой, позволяющей недопустить попадания туда пыли. В первую очередь сюда относятся щели между стенами и плинтусами, поэтому плинтуса обклеиваются малярной лентой по всей площади. Основное отличие бумажной ленты от скотча – меньшее количество клеящего состава, не оставляющее следов на обклеиваемых поверхностях и позволяющее легче удалять ленту после завершения работ.
            img.pull-right(src='/photos/articles/no-dust/humidifier.jpg' alt='Увлажнитель воздуха' title='Увлажнитель воздуха')
            h3 Очиститель воздуха
            p Даже при использовании промышленного пылесоса, наиболее мелкая пыль оказывается рассеянной по всему объему помещения, где производятся электромонтажные работы, и именно она представляет наибольшую опасность для человеческого организма, так как лучше всего проникает и осаждается в легких. Для борьбы с такой пылью применяются увлажнители и очистители воздуха. Очиститель воздуха – это электроприбор, удаляющий пыль, аллергены, летучие вещества, грибок и неприятные запахи из воздуха, многократно пропуская воздух через свои фильтры. Как правило, современные очистители имеют многоступенчатую систему очистки воздуха, включающую в себя ионизатор воздуха, ультрафиолетовую лампу, электростатический, фотокаталитический, угольный и HEPA фильтры. Наиболее производительные очистители воздуха способны пропускать через себя весь воздух, находящийся в помещении в течение нескольких минут.
            h3 Увлажнитель воздуха
            p Увлажнитель воздуха  позволяет бороться с пылью за счет повышения относительной влажности воздуха в помещении, что приводит к слипанию пыли и ее оседанию на полу или на фильтрах устройства. Увлажнение может достигаться за счет пропускания воздуха через влажную поверхность, за счет превращения воды в пар или же за счет распыления капелек воды ультразвуковой вибрирующей пластиной (ультразвуковые увлажнители). Увлажнители умеют поддерживать постоянный уровень влажности в помещении, а также снабжаются фильтрами, аналогичными используемым в очистителях воздуха. Вместо увлажнителя с давних пор применяются емкости (тазы) с водой, которые расставляются в запыленной помещении во время проведения работ и поглощают часть имеющейся пыли.
            h3 Уплотнители
            p Если работы производятся только в одном из помещений и необходимо обеспечить защиту от пыли в соседних помещениях, как правило перед началом работ производится уплотнение всех щелей между помещениями специальными уплотнителями. Например, существуют различные виды резиновых, полиуретановых и ПВХ уплотнителей для дверей и окон, некоторые из которых снабжаются клеющейся полосой, позволяющей быстро и прочно закрепить уплотнитель. Кроме защиты от пыли многие уплотнители являются шумоизоляционными материалами.
            img.pull-right(src='/photos/articles/no-dust/band.jpg' alt='Бумажная лента' title='Бумажная лента')
            h3 Жидкая защитная пленка
            p Несмотря на то, что крайне рекомендуется не оставлять ничего лишнего в помещении, где производятся строительные работы, некоторые предметы от туда убрать невозможно. Типичный пример – окна, особенно зимой, - ведь не будешь же вынимать, а затем заново вставлять окна! Для защиты таких поверхностей может применяться полиэтилен, но более удобным решением является применение жидкой защитной пленки. Эта пленка изначально представляет собой жидкой на водной основе, которую необходимо нанести на обрабатываемую поверхность кисточкой, валиком, распылителем или губкой. При высыхании жидкость превращается в подобие полиэтиленовой пленки, которая после завершения работ легко снимается руками с защищаемой поверхности. В зависимости от числа нанесенных слоев можно получить защитную пленку разной толщины. Защитное покрытие полностью прозрачно, устойчиво к дождю и ветру и разлагается в течение года, не оставляя вредных отходов.
            h3 Временная дверь из полиэтилена
            p Широкое распространение получили в настоящее время так называемые временные двери из полиэтилена. Такая дверь представляет собой слой плотного полиэтилена, вырезанного по форме дверного проема. Этот слой в течение нескольких минут наклеивается на дверной косяк при помощи двухстороннего скотча. Открывается и закрывается такая временная дверь двумя пыленепроницаемыми молниями, идущими сверху вниз.
