- import ru.meridor.website.ui.PageCategory._
- import ru.meridor.website.processing.{OrderFormAdditionalData => ad}
- import ru.meridor.website.util.StringUtils._
- attributes("title") = "Система управления освещением"
- attributes("keywords") = "система управления освещением, освещение подъездов, освещение паркингов, освещение в коридоре, освещение офисов, освещение промышленных помещений"
- attributes("description") = "Система экономичного управления освещением. Принцип действия и состав. Основные преимущества. Фотографии."
- attributes("pageCategory") = Services
- val phoneTitle = "Для презентации введите номер телефона: "
.jumbotron
    .container
        ul.breadcrumbs.breadcrumbs_ico.lighting
            li.active
                h1 Система управления освещением
            li
                a(href='/') Главная
                | &nbsp;→&nbsp;
            li
                a(href='/services/lighting') Освещение
        .lead Пожалуйста ознакомьтесь с нашим предложением на установку системы управления освещением в вашем доме, офисе, производственном помещении, паркинге и так далее. Это позволит за небольшую плату в десятки раз уменьшить ваши расходы на электроэнергию и замену ламп.
.container
    .row-fluid
        .case.article.span12
            - val aboutMarkdown1: String = prepareMultilineString("""
            -|## Как сэкономить на электричестве
            -|Экономия электроэнергии с каждым годом становится все более и более актуальной проблемой для все большего и большего круга лиц. Если раньше об экономии задумывались только крупные потребители электроэнергии: заводы, фабрики, торговые центры и так далее, то теперь об этом задумываются многие простые граждане. Причин тому несколько. Во-первых каждый год происходит повышение цен на электричество, и мы платим по счетчику все больше и больше. Во-вторых, современная бытовая техника: [стиральная машина](/services/electrical-appliances/washing-machine), [посудомоечная машина](/services/electrical-appliances/dishwashing-machine), [микроволновая печь](/services/electrical-appliances/microwave-oven), [электрическая плита](/services/electrical-appliances/electric-range) потребляет значительно большие электрические мощности, заставляя очень быстро вращаться тот самый счетчик. Как же можно сэкономить? Рассмотрим основные варианты:""")
            :&markdown
                #{aboutMarkdown1}
            img.pull-right(src='/photos/services/lighting/electricity_economy.jpg' alt='Сэкономить на электричестве возможно' title='Сэкономить на электричестве возможно')
            - val aboutMarkdown2: String = prepareMultilineString("""
            -|### Установить двухтарифный электрический счетчик
            -|Такой счетчик считает энергию отдельно за дневные и ночные часы, а поскольку ночью электричество стоит примерно в два раза дешевле, то это дает экономию, если включать мощные электроприборы ночью. Стиральные и посудомоечные машины умеют работать по ночам, но не будете же вы готовить еду или гладить ночью! Вот почему реальная экономия получается не такой большой, как вам это обещают (не больше чем пару сотен рублей в месяц в среднестатистической квартире).
            -|### Использовать экономичную бытовую технику
            -|Мы настоятельно рекомендуем покупать и использовать электроприборы с наивысшим классом энергопотребления А – это позволит получить определенную экономию, однако речь идет о единицах и десятках процентов, ведь даже самые эффективные электроплиты потребляют 1,5-2 КВт/ч энергии.
            -|### Использовать энергосберегающие лампы
            -|Практически в каждом хозяйственном магазине можно купить лампы белого и голубоватого свечения, на которых крупными буквами написано, что такие лампы светят так же ярко, как и обычные лампы накаливания, а потребляют в разы меньше. На практике оказывается, что из-за скачков напряжения в сети экономичные лампы выходят из строя практически также часто, что и лампы накаливания, а стоят значительно дороже, поэтому реальная экономия не так велика.
            -|### Использовать светодиодные лампы и светильники
            -|Еще одним модным направлением сегодня является применение светодиодных ламп и светильников. Производители обещают в десятки раз меньшее потребление электроэнергии и в десятки раз больший срок службы светодиодов по сравнению с лампами накаливания при такой же силе света. Светодиоды действительно гораздо эффективнее, чем лампы накаливания, но их излучение неравномерно распределено по направлениям и чрезмерно яркий свет открытых светодиодов создает очень неприятное ощущение для глаз. Установка таких светильников, например, до сих пор не разрешена в больницах и других лечебных учреждениях – они не соответствуют гигиеническим нормам. Безусловно можно закрыть яркие светодиоды матовым рассеивателем, но тогда сильно снижается их эффективность. А кроме того, светодиоды по прежнему дороги – стоимость одного качественного светильника колеблется в пределах 700 – 1000 рублей, что выливается в кругленькую сумму, если речь идет об освещении целого жилого дома.
            -|### Установить подходящую систему освещения
            -|Установка системы освещения является компромиссным решением с невысокой стоимостью и высокой эффективностью. О нем мы и поговорим в следующих разделах.
            -|## Принцип действия системы управления освещением
            -|Существует множество мест, где освещение горит постоянно, но на самом деле требуется лишь изредка или практически никогда:
            -|- **На лестничных площадках домов:** возле лифта, мусоропровода, возле квартир – свет нужен только, когда на площадке есть человек. Статистика показывает, что в среднестатистическом подъезде в день свет может гореть всего 30-40 минут, ведь именно столько в сумме люди идут от лифта к двери квартиры или от двери до мусоропровода и обратно. При этом на самом деле свет горит все 24 часа в сутки, т.е. почти в 50 раз больше.
            -|- **На черной лестнице дома:** свет нужен в тех редких случаях, когда человек идет по черной лестнице. В многоэтажных домах при работающем лифте жители с 3 этажа и выше никогда не ходят по черной лестнице, а свет продолжает гореть. На черной лестнице дома около 80% процентов электроэнергии расходуется впустую.
            -|- **В коридорах и служебных помещениях офисных зданий.** Здесь все аналогично – свет нужен только при наличии человека. Если в вашем офисном центре достаточно длинные коридоры, то свет может включаться на определенном расстоянии от идущего человека, гореть непосредственно над ним и гаснуть за ним через какое-то время. Таким образом вместо того, чтобы расходовать электроэнергию на горение всех ламп в коридоре вы будете платить в десятки раз меньше.
            -|- **На парковках.** В месте стоянки автомобиля каждый человек проводит несколько минут в день, так зачем тратить электричество 24 часа в сутки?! Установка системы управления освещением парковок – сверхвыгодна, поскольку позволяет тратить до 100 раз меньше электричества.
            -|Основным принципом действия системы управления освещением является **включение света только при наличии поблизости человека**. Система имеет несколько очевидных преимуществ по сравнению с другими способами экономии электроэнергии:
            -|- **Это наиболее дешевое решение.** Средняя стоимость материалов на один этаж из 4 - 6 квартир – 4 - 5 тысяч рублей в зависимости от планировки.
            -|- **Это наиболее экономичное решение.** Как показывает практика полное отключение ламп при отсутствии человека дает несопоставимо большую экономию, чем постоянное горение более экономичных ламп. Например, установка светодиодных светильников даст дополнительную экономию всего в 20%, а установка системы управления освещением может дать экономию в 20 раз, т.е. 2000%.
            -|- **Это быстрое решение.** Не требуется проведение сложных электромонтажных работ. Монтаж системы на одном этаже занимает несколько часов.
            -|- **Подходит для любых имеющихся типов ламп и светильников.** Даже если вы по прежнему используете лампы накаливания, вы все равно можете получить многократную экономию от использования системы освещения. Заменить лампы на более экономичные вы можете позже.
            -|- **Не требуется присутствие жильцов при установке.** При проведении работ в многоквартирных домах одним из наиболее сложных вопросов является составление такого графика выполнения работ, при котором жильцы будут дома в момент их проведения. Монтаж системы управления освещением осуществляется только в помещениях общего пользования и не требует присутствия жильцов.
            -|## Из чего состоит система управления освещением
            -|Система управления освещением имеет две основные составные части: **силовой модуль** и **инфракрасные датчики**.
            -|**Силовой модуль** представляет собой микроконтроллер, подключаемый к бытовой электрической сети с одной стороны и к светильникам с другом стороны. Силовой модуль – это центр принятия решений системы освещения. Анализируя сигналы от датчиков, такой блок включает или отключает тот или иной светильник. К силовому модулю как правило подключается несколько светильников. В многоквартирных домах как правило на один этаж оказывается достаточно одного силового модуля. Силовые модули также позволяют регулировать задержку выключения света при отсутствии человека в зоне действия датчиков. Вы можете настроить задержку в 3 минуты и тогда при отсутствии человека свет погаснет через 3 минуты, а можете погасить свет лишь через несколько часов.
            -|**Инфракрасные датчики** улавливают тепловое излучение человека и сигнализируют его появление вблизи светильника. По принципу действия датчики аналогичны датчикам, используемым в охранных сигнализациях.
            -|## Какова реальная экономия
            -|Пусть имеется 16-этажный дом из 4 подъездов с отдельной черной лестницей в каждом подъезде. На черной лестнице установлено по 1 лампе накаливания мощностью 100 Вт на этаж, возле лифта и квартир – еще по 5 ламп на этаж. Рассмотрим 2 сценария: вы установили систему управления освещением и вы НЕ установили предлагаемую нами систему.""")
            :&markdown
                #{aboutMarkdown2}
            table(class='table table-striped table-bordered table-bordered-custom')
                thead
                    tr
                        th Статья расходов
                        th Вы НЕ установили систему
                        th Вы установили систему
                tbody
                    tr
                        td Имеющиеся денежные средства, руб.
                        td 1 000 000
                        td 1 000 000
                    tr
                        td Установка системы, руб.
                        td
                            b 0
                        td
                            b 800 000
                    tr
                        td Стоимость 1 КВт/ч электроэнергии, руб.
                        td 2.5
                        td 2.5
                    tr
                        td Всего ламп (16 × 6 × 4), шт.
                        td 384
                        td 384
                    tr
                        td Среднее время горения 1 лампы в день, часов
                        td
                            b 15
                        td
                            b 0.6
                    tr
                        td Стоимость электроэнергии за день, руб.
                        td
                            b 1440
                        td
                            b 57
                    tr
                        td Стоимость электроэнергии за год, руб.
                        td
                            b 525 000
                        td
                            b 20 805
                    tr
                        td Через 2 года на вашем счету, руб.
                        td
                            b - 50 000
                        td
                            b + 158 390
                    tr
                        td Итого
                        td Ваши деньги пропали и долг продолжает расти
                        td Вы сэкономили больше 200 000 рублей и продолжаете экономить
            - val orderMarkdown: String = prepareMultilineString("""
            -|## Как заказать установку системы
            -|Если вас заинтересовало наше предложение и вы хотите уточнить детали, мы готовы подъехать в удобное для вас время и провести краткую презентацию системы. В течение нескольких дней после презентации мы  **бесплатно** составим подробный расчет стоимости установки. Конечный набор оборудования и его количество сильно зависят от серии и планировки вашего дома, а также от вашего бюджета. Мы уверены – мы сможем подобрать решение под самые строгие требования! Для заказа презентации позвоните нам по телефону или просто заполните форму:""")
            :&markdown
                #{orderMarkdown}
            - render("../../pieces/orderForm.jade", Map("phoneTitle" -> phoneTitle, "additionalData" -> ad.LightingSystem))
            - val faqMarkdown: String = prepareMultilineString("""
            -|## Вопросы и ответы
            -|### Для кого в первую очередь предназначено данное предложение?
            -|В первую очередь система управления освещением будет интересна жилищно-строительным кооперативам (ЖСК), товариществам собственников жилья (ТСЖ), владельцам офисных зданий, парковок и производственных помещений. Во всех этих случаях речь идет об управлении большим числом ламп и светильников, а, значит, выгода от установки системы будет особенно заметна. Но мы также готовы установить систему в квартиру или частный дом – позвоните и мы договоримся.
            -|### Есть ли какие-нибудь ограничения на серию или год постройки домов?
            -|Таких ограничений нет, поскольку во многих случаях используется уже имеющаяся электропроводка, а для подключения датчиков к силовому блоку применяется слаботочная линия с напряжением 24 В. Место установки датчиков и силового блока определяется индивидуально в каждом случае.
            -|### Где произведено оборудование?
            -|При установке системы используется оборудование, производимое в России. По согласованию с заказчиком мы также можем установить более дешевые китайские аналоги, но чувствительность системы при этом будет ниже.
            -|### Сертифицировано ли оборудование?
            -|Да, при установке системы мы выдадим вам сертификат соответствия оборудования требованиям ГОСТ.
            -|### Насколько данная система соответствует требованиям пожарной инспекции?
            -|По требованиям пожарной инспекции все пути эвакуации при пожаре должны иметь дежурное освещение минимально допустимой мощности. Поэтому в независимости от того как работает система управления освещением, требуется иметь постоянно горящие светильники с силой света в несколько люменов. На практике постоянное горение настолько маломощных светильников очень слабо влияет на расход электроэнергии, вот почему дежурное освещение не подключается к системе управления освещением. Если у вас уже имеется дежурное освещение, то мы просто  оставим его как есть.""")
            :&markdown
                #{faqMarkdown}